        <p-dialog [(visible)]="createCommunauteSavoirEncadrementEtudiantDialog" [style]="{width: '70vw'}"
                header="Communaute savoir encadrement etudiant" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Communaute savoir encadrement etudiant">
                        <div class="p-grid">

                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="1">Communaute savoir</label>
                                            <p-dropdown [options]="communauteSavoirs" [(ngModel)]="selectedCommunauteSavoirEncadrementEtudiant.communauteSavoirVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Communaute savoir"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatecommunauteSavoir('communauteSavoir')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="2">Encadrement etudiant</label>
                                            <p-dropdown [options]="encadrementEtudiants" [(ngModel)]="selectedCommunauteSavoirEncadrementEtudiant.encadrementEtudiantVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Encadrement etudiant"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateencadrementEtudiant('encadrementEtudiant')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-communaute-savoir-create-chercheur></app-communaute-savoir-create-chercheur>
                    <app-encadrement-etudiant-create-chercheur></app-encadrement-etudiant-create-chercheur>


    </p-dialog>
