
<p-dialog [(visible)]="viewInstrumentIrdChercheurDialog" [style]="{width: '70vw'}"
        header="Instrument ird chercheur" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Instrument ird chercheur">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Instrument ird</label>
                                    <p-dropdown [options]="instrumentIrds" [(ngModel)]="selectedInstrumentIrdChercheur.instrumentIrdVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Instrument ird">
                                    </p-dropdown>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Nature implication</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Nature implication"  [(ngModel)]="selectedInstrumentIrdChercheur.natureImplication"
                                           id="3" [(ngModel)]="selectedInstrumentIrdChercheur.natureImplication"
                                           autofocus>
                                </div>



                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-instrument-ird-create-chercheur></app-instrument-ird-create-chercheur>
            <app-chercheur-create-chercheur></app-chercheur-create-chercheur>



</p-dialog>



