
        <p-dialog [(visible)]="editChercheurEmailDialog" [style]="{width: '70vw'}"
                header="Chercheur email" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Chercheur email">
                        <div class="p-grid">


                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Email</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Email"
                                                   id="2" [(ngModel)]="selectedChercheurEmail.email"
                                                   />
                                        </div>



                                        <div class="p-field align-inputswitch p-col-12  p-md-6">
                                            <div  class="label-inputswitch">
                                                <label for="3">Principale</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="3"  [(ngModel)]="selectedChercheurEmail.principale"></p-inputSwitch>
                                            </div>
                                        </div>


                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-chercheur-create-chercheur></app-chercheur-create-chercheur>



    </p-dialog>



