        <p-dialog [(visible)]="createConseilEtComiteScientifiqueDialog" [style]="{width: '70vw'}"
                header="Conseil et comite scientifique" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Conseil et comite scientifique">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="1">Temps estime pour cette annne</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="1"
                                                           placeholder="Temps estime pour cette annne"
                                                    [(ngModel)]="selectedConseilEtComiteScientifique.tempsEstimePourCetteAnnne"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="2">Intitule</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Intitule"
                                                   id="2" [(ngModel)]="selectedConseilEtComiteScientifique.intitule"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="3">Pays</label>
                                            <p-dropdown [options]="payss" [(ngModel)]="selectedConseilEtComiteScientifique.paysVo"
                                                    id="3" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Pays"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="4">Etablissement</label>
                                            <p-dropdown [options]="etablissements" [(ngModel)]="selectedConseilEtComiteScientifique.etablissementVo"
                                                    id="4" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etablissement"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetablissement('etablissement')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="5">Nombre jours par annee</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="5"
                                                           placeholder="Nombre jours par annee"
                                                    [(ngModel)]="selectedConseilEtComiteScientifique.nombreJoursParAnnee"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="p-field p-col-12  p-md-4">
                                        <label>Communaute savoir</label>
                                        <p-multiSelect [options]="communauteSavoirConseilEtComiteScientifiquesVo" [(ngModel)]="selectedConseilEtComiteScientifique.communauteSavoirConseilEtComiteScientifiquesVo" defaultLabel="Select un communauteSavoir" optionLabel="communauteSavoirVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                    <div class="p-field p-col-12  p-md-4">
                                        <label>Discipline scientifique</label>
                                        <p-multiSelect [options]="disciplineScientifiqueConseilEtComiteScientifiquesVo" [(ngModel)]="selectedConseilEtComiteScientifique.disciplineScientifiqueConseilEtComiteScientifiquesVo" defaultLabel="Select un disciplineScientifique" optionLabel="disciplineScientifiqueVo.libelleEng"  display="chip"></p-multiSelect>
                                    </div>
                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="10">Etat etape campagne</label>
                                            <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedConseilEtComiteScientifique.etatEtapeCampagneVo"
                                                    id="10" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat etape campagne"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetatEtapeCampagne('etatEtapeCampagne')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-pays-create-chercheur></app-pays-create-chercheur>
                    <app-etablissement-create-chercheur></app-etablissement-create-chercheur>
                    <app-chercheur-create-chercheur></app-chercheur-create-chercheur>
                    <app-campagne-create-chercheur></app-campagne-create-chercheur>
                    <app-etat-etape-campagne-create-chercheur></app-etat-etape-campagne-create-chercheur>

                            <app-communaute-savoir-create-chercheur></app-communaute-savoir-create-chercheur>
                            <app-discipline-scientifique-create-chercheur></app-discipline-scientifique-create-chercheur>

    </p-dialog>
