
<p-dialog [(visible)]="viewProjetActiviteRechercheDetailInstrumentIrdDialog" [style]="{width: '70vw'}"
        header="Projet activite recherche detail instrument ird" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Projet activite recherche detail instrument ird">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Projet activite recherche detail</label>
                                    <p-dropdown [options]="projetActiviteRechercheDetails" [(ngModel)]="selectedProjetActiviteRechercheDetailInstrumentIrd.projetActiviteRechercheDetailVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="id"
                                            placeholder="Projet activite recherche detail">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Instrument ird</label>
                                    <p-dropdown [options]="instrumentIrds" [(ngModel)]="selectedProjetActiviteRechercheDetailInstrumentIrd.instrumentIrdVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Instrument ird">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-projet-activite-recherche-detail-create-admin></app-projet-activite-recherche-detail-create-admin>
            <app-instrument-ird-create-admin></app-instrument-ird-create-admin>



</p-dialog>



