
<p-dialog [(visible)]="viewEtablissementProjetDialog" [style]="{width: '70vw'}"
        header="Etablissement projet" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Etablissement projet">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="1">Libelle</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Libelle"  [(ngModel)]="selectedEtablissementProjet.libelle"
                                           id="1" [(ngModel)]="selectedEtablissementProjet.libelle"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="2">Code</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Code"  [(ngModel)]="selectedEtablissementProjet.code"
                                           id="2" [(ngModel)]="selectedEtablissementProjet.code"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="3">Description</label>
                                    <textarea id="3" pInputTextarea rows="5" cols="30"
                                              placeholder="Description"  [(ngModel)]="selectedEtablissementProjet.description"
                                    ></textarea>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="4">Sigle officiel</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Sigle officiel"  [(ngModel)]="selectedEtablissementProjet.sigleOfficiel"
                                           id="4" [(ngModel)]="selectedEtablissementProjet.sigleOfficiel"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="5">Nom en francais</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Nom en francais"  [(ngModel)]="selectedEtablissementProjet.nomEnFrancais"
                                           id="5" [(ngModel)]="selectedEtablissementProjet.nomEnFrancais"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="6">Sigle en francais</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Sigle en francais"  [(ngModel)]="selectedEtablissementProjet.sigleEnFrancais"
                                           id="6" [(ngModel)]="selectedEtablissementProjet.sigleEnFrancais"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="7">Anciens nom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Anciens nom"  [(ngModel)]="selectedEtablissementProjet.anciensNom"
                                           id="7" [(ngModel)]="selectedEtablissementProjet.anciensNom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="8">Ville</label>
                                    <p-dropdown [options]="villes" [(ngModel)]="selectedEtablissementProjet.villeVo"
                                            id="8" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Ville">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="9">Pays</label>
                                    <p-dropdown [options]="payss" [(ngModel)]="selectedEtablissementProjet.paysVo"
                                            id="9" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Pays">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="10">Champ intervention</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Champ intervention"  [(ngModel)]="selectedEtablissementProjet.champIntervention"
                                           id="10" [(ngModel)]="selectedEtablissementProjet.champIntervention"
                                           autofocus>
                                </div>



                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="11">Valide</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="11"  [disabled]="true" [(ngModel)]="selectedEtablissementProjet.valide"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="12">Archive</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="12"  [disabled]="true" [(ngModel)]="selectedEtablissementProjet.archive"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="13">Date archivage</label>
                                    <p-calendar id="13" [disabled]="true"
                                                placeholder="Date archivage"  [(ngModel)]="selectedEtablissementProjet.dateArchivage"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="14">Date creation</label>
                                    <p-calendar id="14" [disabled]="true"
                                                placeholder="Date creation"  [(ngModel)]="selectedEtablissementProjet.dateCreation"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="15">Admin</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="15"  [disabled]="true" [(ngModel)]="selectedEtablissementProjet.admin"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="16">Visible</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="16"  [disabled]="true" [(ngModel)]="selectedEtablissementProjet.visible"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="17">Username</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Username"  [(ngModel)]="selectedEtablissementProjet.username"
                                           id="17" [(ngModel)]="selectedEtablissementProjet.username"
                                           autofocus>
                                </div>



                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-ville-create-chercheur></app-ville-create-chercheur>
            <app-pays-create-chercheur></app-pays-create-chercheur>



</p-dialog>



