<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateInstrumentsEtDispositifsIrd('instrumentsEtDispositifsIrd')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="1"
                                           type="text"  [(ngModel)]="searchInstrumentsEtDispositifsIrd.libelle">
                                    <label for="1">Libelle</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="2"
                                           type="text"  [(ngModel)]="searchInstrumentsEtDispositifsIrd.code">
                                    <label for="2">Code</label>
                                </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="campagnes" [(ngModel)]="searchInstrumentsEtDispositifsIrd.campagneVo"
                                        id="4"
                                        [filter]="true" [showClear]="true"  placeholder="Campagne"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="chercheurs" [(ngModel)]="searchInstrumentsEtDispositifsIrd.chercheurVo"
                                        id="5"
                                        [filter]="true" [showClear]="true"  placeholder="Chercheur"
                                        optionLabel="numeroMatricule">
                                </p-dropdown>
                            </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown  id="6" [options]="yesOrNoNumerique" [(ngModel)]="searchInstrumentsEtDispositifsIrd.numerique"
                                            [filter]="false" [showClear]="true"  placeholder="Numerique"
                                                 optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="instrumentsEtDispositifsIrds" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['libelle', 'code', 'libelle', 'numeroMatricule', 'numerique']" [(selection)]="selectedInstrumentsEtDispositifsIrd"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Instruments et dispositifs irds</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="libelle">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Libelle</span>
                                        <p-sortIcon field="libelle"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="code">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Code</span>
                                        <p-sortIcon field="code"></p-sortIcon>
                                    </div>
                                </th>
                                



                                
                                <th pSortableColumn="campagne">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Campagne</span>
                                        <p-sortIcon field="campagne"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="chercheur">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Chercheur</span>
                                        <p-sortIcon field="chercheur"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="numerique">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Numerique</span>
                                        <p-sortIcon field="numerique"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-instrumentsEtDispositifsIrd>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="instrumentsEtDispositifsIrd"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{instrumentsEtDispositifsIrd.libelle}}</td>
                            

                            
                                 <td>{{instrumentsEtDispositifsIrd.code}}</td>
                            

                            
                                <td>{{instrumentsEtDispositifsIrd.campagneVo?.libelle}}</td>
                            

                            
                                <td>{{instrumentsEtDispositifsIrd.chercheurVo?.numeroMatricule}}</td>
                            

                            
                                <td><i *ngIf="instrumentsEtDispositifsIrd.numerique" class="pi pi-check checked-toogle"></i>
                                    <i *ngIf="!instrumentsEtDispositifsIrd.numerique" class="pi pi-times unchecked-toogle"></i>
                                </td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editInstrumentsEtDispositifsIrd(instrumentsEtDispositifsIrd)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewInstrumentsEtDispositifsIrd(instrumentsEtDispositifsIrd)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteInstrumentsEtDispositifsIrd(instrumentsEtDispositifsIrd)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateInstrumentsEtDispositifsIrd(instrumentsEtDispositifsIrd)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{instrumentsEtDispositifsIrds ? instrumentsEtDispositifsIrds.length == 1 ? 'y a' : 'y a' : 'y a' }} {{instrumentsEtDispositifsIrds ? instrumentsEtDispositifsIrds.length : 0 }} {{instrumentsEtDispositifsIrds ? instrumentsEtDispositifsIrds.length == 1 ? 'instrumentsEtDispositifsIrd' : 'instrumentsEtDispositifsIrds' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-instruments-et-dispositifs-ird-create-admin></app-instruments-et-dispositifs-ird-create-admin>
        <app-instruments-et-dispositifs-ird-edit-admin></app-instruments-et-dispositifs-ird-edit-admin>
        <app-instruments-et-dispositifs-ird-view-admin></app-instruments-et-dispositifs-ird-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
