<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateEnseignement('enseignement')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="1"
                                           type="text"  [(ngModel)]="searchEnseignement.intitule">
                                    <label for="1">Intitule</label>
                                </span>
                                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchEnseignement.nombreHeureMin"
                                                             id="2-1"></p-inputNumber>
                                              <label for="2-1">Nombre heure Min</label>
                                       </span>
                                       <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchEnseignement.nombreHeureMax"
                                                             id="2-2"></p-inputNumber>
                                             <label for="2-2">Nombre heure Max</label>
                                       </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="modaliteEtudes" [(ngModel)]="searchEnseignement.modaliteEtudeVo"
                                        id="3"
                                        [filter]="true" [showClear]="true"  placeholder="Modalite etude"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown  id="7" [options]="yesOrNoEtabilssementNonReconnu" [(ngModel)]="searchEnseignement.etabilssementNonReconnu"
                                            [filter]="false" [showClear]="true"  placeholder="Etabilssement non reconnu"
                                                 optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="searchEnseignement.etatEtapeCampagneVo"
                                        id="12"
                                        [filter]="true" [showClear]="true"  placeholder="Etat etape campagne"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="enseignementEtFormations" [(ngModel)]="searchEnseignement.enseignementEtFormationVo"
                                        id="13"
                                        [filter]="true" [showClear]="true"  placeholder="Enseignement et formation"
                                        optionLabel="id">
                                </p-dropdown>
                            </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="enseignements" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['intitule', 'nombreHeure', 'libelle', 'etabilssementNonReconnu', 'libelle', 'id']" [(selection)]="selectedEnseignement"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Enseignements</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="intitule">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Intitule</span>
                                        <p-sortIcon field="intitule"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="nombreHeure">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Nombre heure</span>
                                        <p-sortIcon field="nombreHeure"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="modaliteEtude">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Modalite etude</span>
                                        <p-sortIcon field="modaliteEtude"></p-sortIcon>
                                    </div>
                                </th>
                                





                                
                                <th pSortableColumn="etabilssementNonReconnu">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Etabilssement non reconnu</span>
                                        <p-sortIcon field="etabilssementNonReconnu"></p-sortIcon>
                                    </div>
                                </th>
                                






                                
                                <th pSortableColumn="etatEtapeCampagne">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Etat etape campagne</span>
                                        <p-sortIcon field="etatEtapeCampagne"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="enseignementEtFormation">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Enseignement et formation</span>
                                        <p-sortIcon field="enseignementEtFormation"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-enseignement>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="enseignement"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{enseignement.intitule}}</td>
                            

                            
                                 <td>{{enseignement.nombreHeure}}</td>
                            

                            
                                <td>{{enseignement.modaliteEtudeVo?.libelle}}</td>
                            

                            
                                <td><i *ngIf="enseignement.etabilssementNonReconnu" class="pi pi-check checked-toogle"></i>
                                    <i *ngIf="!enseignement.etabilssementNonReconnu" class="pi pi-times unchecked-toogle"></i>
                                </td>
                            

                            
                                <td>{{enseignement.etatEtapeCampagneVo?.libelle}}</td>
                            

                            
                                <td>{{enseignement.enseignementEtFormationVo?.id}}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editEnseignement(enseignement)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewEnseignement(enseignement)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteEnseignement(enseignement)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateEnseignement(enseignement)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{enseignements ? enseignements.length == 1 ? 'y a' : 'y a' : 'y a' }} {{enseignements ? enseignements.length : 0 }} {{enseignements ? enseignements.length == 1 ? 'enseignement' : 'enseignements' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-enseignement-create-admin></app-enseignement-create-admin>
        <app-enseignement-edit-admin></app-enseignement-edit-admin>
        <app-enseignement-view-admin></app-enseignement-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
