<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateCampagneRelanceChercheur('campagneRelanceChercheur')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="chercheurs" [(ngModel)]="searchCampagneRelanceChercheur.chercheurVo"
                                        id="1"
                                        [filter]="true" [showClear]="true"  placeholder="Chercheur"
                                        optionLabel="numeroMatricule">
                                </p-dropdown>
                            </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="campagneRelances" [(ngModel)]="searchCampagneRelanceChercheur.campagneRelanceVo"
                                        id="2"
                                        [filter]="true" [showClear]="true"  placeholder="Campagne relance"
                                        optionLabel="id">
                                </p-dropdown>
                            </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="3"
                                           type="text"  [(ngModel)]="searchCampagneRelanceChercheur.objet">
                                    <label for="3">Objet</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown  id="5" [options]="yesOrNoEnvoye" [(ngModel)]="searchCampagneRelanceChercheur.envoye"
                                            [filter]="false" [showClear]="true"  placeholder="Envoye"
                                                 optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                </span>

                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchCampagneRelanceChercheur.dateEnvoiMin"
                                    id="6-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="6-1">Date envoi Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchCampagneRelanceChercheur.dateEnvoiMax"
                                    id="6-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="6-2">Date envoi Max</label>
                        </span>

                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="campagneRelanceChercheurs" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['numeroMatricule', 'id', 'objet', 'envoye', 'dateEnvoi']" [(selection)]="selectedCampagneRelanceChercheur"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Campagne relance chercheurs</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="chercheur">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Chercheur</span>
                                        <p-sortIcon field="chercheur"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="campagneRelance">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Campagne relance</span>
                                        <p-sortIcon field="campagneRelance"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="objet">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Objet</span>
                                        <p-sortIcon field="objet"></p-sortIcon>
                                    </div>
                                </th>
                                



                                
                                <th pSortableColumn="envoye">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Envoye</span>
                                        <p-sortIcon field="envoye"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="dateEnvoi">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Date envoi</span>
                                        <p-sortIcon field="dateEnvoi"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-campagneRelanceChercheur>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="campagneRelanceChercheur"></p-tableCheckbox>
                        </td>
                            
                                <td>{{campagneRelanceChercheur.chercheurVo?.numeroMatricule}}</td>
                            

                            
                                <td>{{campagneRelanceChercheur.campagneRelanceVo?.id}}</td>
                            

                            
                                 <td>{{campagneRelanceChercheur.objet}}</td>
                            

                            
                                <td><i *ngIf="campagneRelanceChercheur.envoye" class="pi pi-check checked-toogle"></i>
                                    <i *ngIf="!campagneRelanceChercheur.envoye" class="pi pi-times unchecked-toogle"></i>
                                </td>
                            

                            
                                <td>{{campagneRelanceChercheur.dateEnvoi | date:'dd-M-yyyy' }}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editCampagneRelanceChercheur(campagneRelanceChercheur)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewCampagneRelanceChercheur(campagneRelanceChercheur)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteCampagneRelanceChercheur(campagneRelanceChercheur)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateCampagneRelanceChercheur(campagneRelanceChercheur)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{campagneRelanceChercheurs ? campagneRelanceChercheurs.length == 1 ? 'y a' : 'y a' : 'y a' }} {{campagneRelanceChercheurs ? campagneRelanceChercheurs.length : 0 }} {{campagneRelanceChercheurs ? campagneRelanceChercheurs.length == 1 ? 'campagneRelanceChercheur' : 'campagneRelanceChercheurs' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-campagne-relance-chercheur-create-chercheur></app-campagne-relance-chercheur-create-chercheur>
        <app-campagne-relance-chercheur-edit-chercheur></app-campagne-relance-chercheur-edit-chercheur>
        <app-campagne-relance-chercheur-view-chercheur></app-campagne-relance-chercheur-view-chercheur>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
