
        <p-dialog [(visible)]="editProjetActiviteRechercheDetailDialog" [style]="{width: '70vw'}"
                header="Projet activite recherche detail" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Projet activite recherche detail">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="1">Status projet</label>
                                            <p-dropdown [options]="statusProjets" [(ngModel)]="selectedProjetActiviteRechercheDetail.statusProjetVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Status projet">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatestatusProjet('statusProjet')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="2">Sujet intitule reponse</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Sujet intitule reponse"
                                                   id="2" [(ngModel)]="selectedProjetActiviteRechercheDetail.sujetIntituleReponse"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">Duree prevu en mois</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="3"
                                                           placeholder="Duree prevu en mois"  [(ngModel)]="selectedProjetActiviteRechercheDetail.dureePrevuEnMois"
                                                    [(ngModel)]="selectedProjetActiviteRechercheDetail.dureePrevuEnMois"></p-inputNumber>
                                        </div>

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="4">Role projet</label>
                                            <p-dropdown [options]="roleProjets" [(ngModel)]="selectedProjetActiviteRechercheDetail.roleProjetVo"
                                                    id="4" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Role projet">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateroleProjet('roleProjet')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="8">Financement specifique</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="8"  [(ngModel)]="selectedProjetActiviteRechercheDetail.financementSpecifique"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="9">Montant financement prevu</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="9"
                                                           placeholder="Montant financement prevu"  [(ngModel)]="selectedProjetActiviteRechercheDetail.montantFinancementPrevu"
                                                    [(ngModel)]="selectedProjetActiviteRechercheDetail.montantFinancementPrevu"></p-inputNumber>
                                        </div>

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="10">Etablissement</label>
                                            <p-dropdown [options]="etablissements" [(ngModel)]="selectedProjetActiviteRechercheDetail.etablissementVo"
                                                    id="10" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etablissement">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetablissement('etablissement')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="11">Pays</label>
                                            <p-dropdown [options]="payss" [(ngModel)]="selectedProjetActiviteRechercheDetail.paysVo"
                                                    id="11" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Pays">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="14">Projet activite recherche</label>
                                            <p-dropdown [options]="projetActiviteRecherches" [(ngModel)]="selectedProjetActiviteRechercheDetail.projetActiviteRechercheVo"
                                                    id="14" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Projet activite recherche">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateprojetActiviteRecherche('projetActiviteRecherche')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="15">Etat etape campagne</label>
                                            <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedProjetActiviteRechercheDetail.etatEtapeCampagneVo"
                                                    id="15" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat etape campagne">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetatEtapeCampagne('etatEtapeCampagne')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="Projet activite recherche detail enjeux irds">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Enjeux ird</label>
                                                        <p-dropdown [options]="enjeuxIrds" [(ngModel)]="selectedProjetActiviteRechercheDetailEnjeuxIrds.enjeuxIrdVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Enjeux ird"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateenjeuxIrd('enjeuxIrd')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addProjetActiviteRechercheDetailEnjeuxIrds()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedProjetActiviteRechercheDetail.projetActiviteRechercheDetailEnjeuxIrdsVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Enjeux ird</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.enjeuxIrdVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteProjetActiviteRechercheDetailEnjeuxIrds(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Projet activite recherche detail instrument irds">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Instrument ird</label>
                                                        <p-dropdown [options]="instrumentIrds" [(ngModel)]="selectedProjetActiviteRechercheDetailInstrumentIrds.instrumentIrdVo"
                                                                id="1"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Instrument ird"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateinstrumentIrd('instrumentIrd')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addProjetActiviteRechercheDetailInstrumentIrds()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedProjetActiviteRechercheDetail.projetActiviteRechercheDetailInstrumentIrdsVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Instrument ird</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.instrumentIrdVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteProjetActiviteRechercheDetailInstrumentIrds(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Projet activite recherche detail payss">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Pays</label>
                                                        <p-dropdown [options]="payss" [(ngModel)]="selectedProjetActiviteRechercheDetailPayss.paysVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Pays"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addProjetActiviteRechercheDetailPayss()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedProjetActiviteRechercheDetail.projetActiviteRechercheDetailPayssVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Pays</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.paysVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteProjetActiviteRechercheDetailPayss(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Projet activite recherche detail institution co contractants">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Etablissement</label>
                                                        <p-dropdown [options]="etablissements" [(ngModel)]="selectedProjetActiviteRechercheDetailInstitutionCoContractants.etablissementVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Etablissement"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateetablissement('etablissement')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addProjetActiviteRechercheDetailInstitutionCoContractants()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedProjetActiviteRechercheDetail.projetActiviteRechercheDetailInstitutionCoContractantsVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Etablissement</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.etablissementVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteProjetActiviteRechercheDetailInstitutionCoContractants(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Projet activite recherche detail etablissement lanceurs">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Etablissement</label>
                                                        <p-dropdown [options]="etablissements" [(ngModel)]="selectedProjetActiviteRechercheDetailEtablissementLanceurs.etablissementVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Etablissement"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateetablissement('etablissement')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addProjetActiviteRechercheDetailEtablissementLanceurs()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedProjetActiviteRechercheDetail.projetActiviteRechercheDetailEtablissementLanceursVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Etablissement</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.etablissementVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteProjetActiviteRechercheDetailEtablissementLanceurs(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-status-projet-create-chercheur></app-status-projet-create-chercheur>
                    <app-role-projet-create-chercheur></app-role-projet-create-chercheur>
                    <app-etablissement-create-chercheur></app-etablissement-create-chercheur>
                    <app-pays-create-chercheur></app-pays-create-chercheur>
                    <app-projet-activite-recherche-create-chercheur></app-projet-activite-recherche-create-chercheur>
                    <app-etat-etape-campagne-create-chercheur></app-etat-etape-campagne-create-chercheur>

                            <app-enjeux-ird-create-chercheur></app-enjeux-ird-create-chercheur>
                            <app-instrument-ird-create-chercheur></app-instrument-ird-create-chercheur>
                            <app-pays-create-chercheur></app-pays-create-chercheur>
                            <app-etablissement-create-chercheur></app-etablissement-create-chercheur>
                            <app-etablissement-create-chercheur></app-etablissement-create-chercheur>


    </p-dialog>



