<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateResponsabilitePedagogique('responsabilitePedagogique')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="niveauResponsabilitePedagogiques" [(ngModel)]="searchResponsabilitePedagogique.niveauResponsabilitePedagogiqueVo"
                                        id="1"
                                        [filter]="true" [showClear]="true"  placeholder="Niveau responsabilite pedagogique"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="statusCursuss" [(ngModel)]="searchResponsabilitePedagogique.statusCursusVo"
                                        id="2"
                                        [filter]="true" [showClear]="true"  placeholder="Status cursus"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="3"
                                           type="text"  [(ngModel)]="searchResponsabilitePedagogique.intituleCursus">
                                    <label for="3">Intitule cursus</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown  id="5" [options]="yesOrNoServiceRenforcementCapacite" [(ngModel)]="searchResponsabilitePedagogique.serviceRenforcementCapacite"
                                            [filter]="false" [showClear]="true"  placeholder="Service renforcement capacite"
                                                 optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown  id="6" [options]="yesOrNoCursusConstruitAvecEtablissements" [(ngModel)]="searchResponsabilitePedagogique.cursusConstruitAvecEtablissements"
                                            [filter]="false" [showClear]="true"  placeholder="Cursus construit avec etablissements"
                                                 optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="searchResponsabilitePedagogique.etatEtapeCampagneVo"
                                        id="9"
                                        [filter]="true" [showClear]="true"  placeholder="Etat etape campagne"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="enseignementEtFormations" [(ngModel)]="searchResponsabilitePedagogique.enseignementEtFormationVo"
                                        id="10"
                                        [filter]="true" [showClear]="true"  placeholder="Enseignement et formation"
                                        optionLabel="id">
                                </p-dropdown>
                            </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="responsabilitePedagogiques" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['libelle', 'libelle', 'intituleCursus', 'serviceRenforcementCapacite', 'cursusConstruitAvecEtablissements', 'libelle', 'id']" [(selection)]="selectedResponsabilitePedagogique"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Responsabilite pedagogiques</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="niveauResponsabilitePedagogique">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Niveau responsabilite pedagogique</span>
                                        <p-sortIcon field="niveauResponsabilitePedagogique"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="statusCursus">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Status cursus</span>
                                        <p-sortIcon field="statusCursus"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="intituleCursus">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Intitule cursus</span>
                                        <p-sortIcon field="intituleCursus"></p-sortIcon>
                                    </div>
                                </th>
                                



                                
                                <th pSortableColumn="serviceRenforcementCapacite">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Service renforcement capacite</span>
                                        <p-sortIcon field="serviceRenforcementCapacite"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="cursusConstruitAvecEtablissements">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Cursus construit avec etablissements</span>
                                        <p-sortIcon field="cursusConstruitAvecEtablissements"></p-sortIcon>
                                    </div>
                                </th>
                                




                                
                                <th pSortableColumn="etatEtapeCampagne">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Etat etape campagne</span>
                                        <p-sortIcon field="etatEtapeCampagne"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="enseignementEtFormation">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Enseignement et formation</span>
                                        <p-sortIcon field="enseignementEtFormation"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-responsabilitePedagogique>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="responsabilitePedagogique"></p-tableCheckbox>
                        </td>
                            
                                <td>{{responsabilitePedagogique.niveauResponsabilitePedagogiqueVo?.libelle}}</td>
                            

                            
                                <td>{{responsabilitePedagogique.statusCursusVo?.libelle}}</td>
                            

                            
                                 <td>{{responsabilitePedagogique.intituleCursus}}</td>
                            

                            
                                <td><i *ngIf="responsabilitePedagogique.serviceRenforcementCapacite" class="pi pi-check checked-toogle"></i>
                                    <i *ngIf="!responsabilitePedagogique.serviceRenforcementCapacite" class="pi pi-times unchecked-toogle"></i>
                                </td>
                            

                            
                                <td><i *ngIf="responsabilitePedagogique.cursusConstruitAvecEtablissements" class="pi pi-check checked-toogle"></i>
                                    <i *ngIf="!responsabilitePedagogique.cursusConstruitAvecEtablissements" class="pi pi-times unchecked-toogle"></i>
                                </td>
                            

                            
                                <td>{{responsabilitePedagogique.etatEtapeCampagneVo?.libelle}}</td>
                            

                            
                                <td>{{responsabilitePedagogique.enseignementEtFormationVo?.id}}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editResponsabilitePedagogique(responsabilitePedagogique)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewResponsabilitePedagogique(responsabilitePedagogique)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteResponsabilitePedagogique(responsabilitePedagogique)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateResponsabilitePedagogique(responsabilitePedagogique)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{responsabilitePedagogiques ? responsabilitePedagogiques.length == 1 ? 'y a' : 'y a' : 'y a' }} {{responsabilitePedagogiques ? responsabilitePedagogiques.length : 0 }} {{responsabilitePedagogiques ? responsabilitePedagogiques.length == 1 ? 'responsabilitePedagogique' : 'responsabilitePedagogiques' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-responsabilite-pedagogique-create-admin></app-responsabilite-pedagogique-create-admin>
        <app-responsabilite-pedagogique-edit-admin></app-responsabilite-pedagogique-edit-admin>
        <app-responsabilite-pedagogique-view-admin></app-responsabilite-pedagogique-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
