
<p-dialog [(visible)]="viewCommunauteSavoirEncadrementDoctorantDialog" [style]="{width: '70vw'}"
        header="Communaute savoir encadrement doctorant" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Communaute savoir encadrement doctorant">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Communaute savoir</label>
                                    <p-dropdown [options]="communauteSavoirs" [(ngModel)]="selectedCommunauteSavoirEncadrementDoctorant.communauteSavoirVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Communaute savoir">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Encadrement doctorant</label>
                                    <p-dropdown [options]="encadrementDoctorants" [(ngModel)]="selectedCommunauteSavoirEncadrementDoctorant.encadrementDoctorantVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="id"
                                            placeholder="Encadrement doctorant">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-communaute-savoir-create-chercheur></app-communaute-savoir-create-chercheur>
            <app-encadrement-doctorant-create-chercheur></app-encadrement-doctorant-create-chercheur>



</p-dialog>



