
<p-dialog [(visible)]="viewTypeInstrumentIrdChercheurDialog" [style]="{width: '70vw'}"
        header="Type instrument ird chercheur" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Type instrument ird chercheur">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Type instrument ird</label>
                                    <p-dropdown [options]="typeInstrumentIrds" [(ngModel)]="selectedTypeInstrumentIrdChercheur.typeInstrumentIrdVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Type instrument ird">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Chercheur</label>
                                    <p-dropdown [options]="chercheurs" [(ngModel)]="selectedTypeInstrumentIrdChercheur.chercheurVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="numeroMatricule"
                                            placeholder="Chercheur">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-type-instrument-ird-create-admin></app-type-instrument-ird-create-admin>
            <app-chercheur-create-admin></app-chercheur-create-admin>



</p-dialog>



