        <p-dialog [(visible)]="createFaqDialog" [style]="{width: '70vw'}"
                header="Faq" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Faq">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="1">Question</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Question"
                                                   id="1" [(ngModel)]="selectedFaq.question"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="2">Reponse</label>
                                            <textarea id="2" pInputTextarea rows="5" cols="30"
                                                      placeholder="Reponse"  [(ngModel)]="selectedFaq.reponse"
                                             ></textarea>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="3">Contact</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Contact"
                                                   id="3" [(ngModel)]="selectedFaq.contact"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="4">Categorie faq</label>
                                            <p-dropdown [options]="categorieFaqs" [(ngModel)]="selectedFaq.categorieFaqVo"
                                                    id="4" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Categorie faq"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatecategorieFaq('categorieFaq')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="5">Ordre</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="5"
                                                           placeholder="Ordre"
                                                    [(ngModel)]="selectedFaq.ordre"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-4">
                                            <div  class="label-inputswitch">
                                                <label for="6">Archive</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="6"  [(ngModel)]="selectedFaq.archive"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="7">Lien</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Lien"
                                                   id="7" [(ngModel)]="selectedFaq.lien"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="8">Dernier mis a jour</label>
                                            <p-calendar id="8"
                                                        placeholder="Dernier mis a jour"  [(ngModel)]="selectedFaq.dernierMisAJour"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-categorie-faq-create-chercheur></app-categorie-faq-create-chercheur>


    </p-dialog>
