        <p-dialog [(visible)]="createDeveloppementDeSavoirEtInnovationScientifiqueDialog" [style]="{width: '70vw'}"
                header="Developpement de savoir et innovation scientifique" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Developpement de savoir et innovation scientifique">
                        <div class="p-grid">

                                    <div class="p-field p-col-12  p-md-6">
                                        <label>Type savoir</label>
                                        <p-multiSelect [options]="typeSavoirDeveloppementDeSavoirEtInnovationScientifiquesVo" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.typeSavoirDeveloppementDeSavoirEtInnovationScientifiquesVo" defaultLabel="Select un typeSavoir" optionLabel="typeSavoirVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Titre instrument</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Titre instrument"
                                                   id="2" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.titreInstrument"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="3">Role developpement de savoir</label>
                                            <p-dropdown [options]="roleDeveloppementDeSavoirs" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.roleDeveloppementDeSavoirVo"
                                                    id="3" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Role developpement de savoir"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateroleDeveloppementDeSavoir('roleDeveloppementDeSavoir')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                    <div class="p-field p-col-12  p-md-6">
                                        <label>Type utilisateur</label>
                                        <p-multiSelect [options]="typeUtilisateurSavoirConcusVo" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.typeUtilisateurSavoirConcusVo" defaultLabel="Select un typeUtilisateur" optionLabel="typeUtilisateurVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="5">Annee mise en oeuvre</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="5"
                                                           placeholder="Annee mise en oeuvre"
                                                    [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.anneeMiseEnOeuvre"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="p-field p-col-12  p-md-6">
                                        <label>Mode diffusion</label>
                                        <p-multiSelect [options]="developpementDeSavoirEtInnovationScientifiqueModeDiffusionsVo" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.developpementDeSavoirEtInnovationScientifiqueModeDiffusionsVo" defaultLabel="Select un modeDiffusion" optionLabel="modeDiffusionVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                    <div class="p-field p-col-12  p-md-6">
                                        <label>Enjeux ird</label>
                                        <p-multiSelect [options]="developpementDeSavoirEtInnovationScientifiqueEnjeuxIrdsVo" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.developpementDeSavoirEtInnovationScientifiqueEnjeuxIrdsVo" defaultLabel="Select un enjeuxIrd" optionLabel="enjeuxIrdVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                    <div class="p-field p-col-12  p-md-6">
                                        <label>Communaute savoir</label>
                                        <p-multiSelect [options]="developpementDeSavoirEtInnovationScientifiqueDisciplineScientifiquesVo" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.developpementDeSavoirEtInnovationScientifiqueDisciplineScientifiquesVo" defaultLabel="Select un communauteSavoir" optionLabel="communauteSavoirVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                    <div class="p-field p-col-12  p-md-6">
                                        <label>Communaute savoir</label>
                                        <p-multiSelect [options]="developpementDeSavoirEtInnovationScientifiqueCommunauteSavoirsVo" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.developpementDeSavoirEtInnovationScientifiqueCommunauteSavoirsVo" defaultLabel="Select un communauteSavoir" optionLabel="communauteSavoirVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                    <div class="p-field p-col-12  p-md-6">
                                        <label>Pays</label>
                                        <p-multiSelect [options]="developpementDeSavoirEtInnovationScientifiquePayssVo" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.developpementDeSavoirEtInnovationScientifiquePayssVo" defaultLabel="Select un pays" optionLabel="paysVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                    <div class="p-field p-col-12  p-md-6">
                                        <label>Etablissement</label>
                                        <p-multiSelect [options]="developpementDeSavoirEtInnovationScientifiqueEtablissementsVo" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.developpementDeSavoirEtInnovationScientifiqueEtablissementsVo" defaultLabel="Select un etablissement" optionLabel="etablissementVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="12">Lien web</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Lien web"
                                                   id="12" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.lienWeb"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="13">Savoir et innovation</label>
                                            <p-dropdown [options]="savoirEtInnovations" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.savoirEtInnovationVo"
                                                    id="13" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Savoir et innovation"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatesavoirEtInnovation('savoirEtInnovation')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="14">Etat etape campagne</label>
                                            <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.etatEtapeCampagneVo"
                                                    id="14" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat etape campagne"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetatEtapeCampagne('etatEtapeCampagne')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-role-developpement-de-savoir-create-admin></app-role-developpement-de-savoir-create-admin>
                    <app-savoir-et-innovation-create-admin></app-savoir-et-innovation-create-admin>
                    <app-etat-etape-campagne-create-admin></app-etat-etape-campagne-create-admin>

                            <app-type-savoir-create-admin></app-type-savoir-create-admin>
                            <app-type-utilisateur-create-admin></app-type-utilisateur-create-admin>
                            <app-mode-diffusion-create-admin></app-mode-diffusion-create-admin>
                            <app-enjeux-ird-create-admin></app-enjeux-ird-create-admin>
                            <app-communaute-savoir-create-admin></app-communaute-savoir-create-admin>
                            <app-communaute-savoir-create-admin></app-communaute-savoir-create-admin>
                            <app-pays-create-admin></app-pays-create-admin>
                            <app-etablissement-create-admin></app-etablissement-create-admin>

    </p-dialog>
