
<p-dialog [(visible)]="viewVieInstitutionnelleDetailDialog" [style]="{width: '70vw'}"
        header="Vie institutionnelle detail" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Vie institutionnelle detail">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="1">Type instance</label>
                                    <p-dropdown [options]="typeInstances" [(ngModel)]="selectedVieInstitutionnelleDetail.typeInstanceVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Type instance">
                                    </p-dropdown>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-4">
                                    <div  class="label-inputswitch">
                                        <label for="2">Coorele structure ird</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="2"  [disabled]="true" [(ngModel)]="selectedVieInstitutionnelleDetail.cooreleStructureIrd"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-4">
                                    <label for="3">Structure ird</label>
                                    <p-dropdown [options]="structureIrds" [(ngModel)]="selectedVieInstitutionnelleDetail.structureIrdVo"
                                            id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Structure ird">
                                    </p-dropdown>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-4">
                                    <div  class="label-inputswitch">
                                        <label for="4">Coorele instrument ird</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="4"  [disabled]="true" [(ngModel)]="selectedVieInstitutionnelleDetail.cooreleInstrumentIrd"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-4">
                                    <label for="6">Libelle</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Libelle"  [(ngModel)]="selectedVieInstitutionnelleDetail.libelle"
                                           id="6" [(ngModel)]="selectedVieInstitutionnelleDetail.libelle"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="8">Pays</label>
                                    <p-dropdown [options]="payss" [(ngModel)]="selectedVieInstitutionnelleDetail.paysVo"
                                            id="8" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Pays">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-4">
                                    <label for="9">Vie institutionnelle</label>
                                    <p-dropdown [options]="vieInstitutionnelles" [(ngModel)]="selectedVieInstitutionnelleDetail.vieInstitutionnelleVo"
                                            id="9" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="id"
                                            placeholder="Vie institutionnelle">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>
                    <p-tabPanel header="Vie institutionnelle detail instrument irds">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedVieInstitutionnelleDetail.vieInstitutionnelleDetailInstrumentIrdsVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Instrument ird</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.instrumentIrdVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Vie institutionnelle detail etablissements">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedVieInstitutionnelleDetail.vieInstitutionnelleDetailEtablissementsVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Etablissement</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.etablissementVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-type-instance-create-admin></app-type-instance-create-admin>
            <app-structure-ird-create-admin></app-structure-ird-create-admin>
            <app-pays-create-admin></app-pays-create-admin>
            <app-vie-institutionnelle-create-admin></app-vie-institutionnelle-create-admin>

                    <app-instrument-ird-create-admin></app-instrument-ird-create-admin>
                    <app-etablissement-create-admin></app-etablissement-create-admin>


</p-dialog>



