
<p-dialog [(visible)]="viewFournisseurAppelProjetRechercheDialog" [style]="{width: '70vw'}"
        header="Fournisseur appel projet recherche" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Fournisseur appel projet recherche">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="1">Libelle</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Libelle"  [(ngModel)]="selectedFournisseurAppelProjetRecherche.libelle"
                                           id="1" [(ngModel)]="selectedFournisseurAppelProjetRecherche.libelle"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="2">Code</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Code"  [(ngModel)]="selectedFournisseurAppelProjetRecherche.code"
                                           id="2" [(ngModel)]="selectedFournisseurAppelProjetRecherche.code"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="3">Description</label>
                                    <textarea id="3" pInputTextarea rows="5" cols="30"
                                              placeholder="Description"  [(ngModel)]="selectedFournisseurAppelProjetRecherche.description"
                                    ></textarea>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="4">Pays</label>
                                    <p-dropdown [options]="payss" [(ngModel)]="selectedFournisseurAppelProjetRecherche.paysVo"
                                            id="4" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Pays">
                                    </p-dropdown>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="5">Archive</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="5"  [disabled]="true" [(ngModel)]="selectedFournisseurAppelProjetRecherche.archive"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="6">Date archivage</label>
                                    <p-calendar id="6" [disabled]="true"
                                                placeholder="Date archivage"  [(ngModel)]="selectedFournisseurAppelProjetRecherche.dateArchivage"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="7">Date creation</label>
                                    <p-calendar id="7" [disabled]="true"
                                                placeholder="Date creation"  [(ngModel)]="selectedFournisseurAppelProjetRecherche.dateCreation"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="8">Admin</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="8"  [disabled]="true" [(ngModel)]="selectedFournisseurAppelProjetRecherche.admin"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="9">Visible</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="9"  [disabled]="true" [(ngModel)]="selectedFournisseurAppelProjetRecherche.visible"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="10">Username</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Username"  [(ngModel)]="selectedFournisseurAppelProjetRecherche.username"
                                           id="10" [(ngModel)]="selectedFournisseurAppelProjetRecherche.username"
                                           autofocus>
                                </div>



                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-pays-create-admin></app-pays-create-admin>



</p-dialog>



