
<p-dialog [(visible)]="viewNiveauEtudeEnseignementDialog" [style]="{width: '70vw'}"
        header="Niveau etude enseignement" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Niveau etude enseignement">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Niveau etude</label>
                                    <p-dropdown [options]="niveauEtudes" [(ngModel)]="selectedNiveauEtudeEnseignement.niveauEtudeVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Niveau etude">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Enseignement</label>
                                    <p-dropdown [options]="enseignements" [(ngModel)]="selectedNiveauEtudeEnseignement.enseignementVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="id"
                                            placeholder="Enseignement">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-niveau-etude-create-chercheur></app-niveau-etude-create-chercheur>
            <app-enseignement-create-chercheur></app-enseignement-create-chercheur>



</p-dialog>



