<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateDoctorant('doctorant')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="1"
                                           type="text"  [(ngModel)]="searchDoctorant.nom">
                                    <label for="1">Nom</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="2"
                                           type="text"  [(ngModel)]="searchDoctorant.prenom">
                                    <label for="2">Prenom</label>
                                </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="sexes" [(ngModel)]="searchDoctorant.sexeVo"
                                        id="3"
                                        [filter]="true" [showClear]="true"  placeholder="Sexe"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="4"
                                           type="text"  [(ngModel)]="searchDoctorant.civilite">
                                    <label for="4">Civilite</label>
                                </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="payss" [(ngModel)]="searchDoctorant.paysVo"
                                        id="5"
                                        [filter]="true" [showClear]="true"  placeholder="Pays"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchDoctorant.anneeNaissanceMin"
                                                             id="6-1"></p-inputNumber>
                                              <label for="6-1">Annee naissance Min</label>
                                       </span>
                                       <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchDoctorant.anneeNaissanceMax"
                                                             id="6-2"></p-inputNumber>
                                             <label for="6-2">Annee naissance Max</label>
                                       </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown  id="7" [options]="yesOrNoArchive" [(ngModel)]="searchDoctorant.archive"
                                            [filter]="false" [showClear]="true"  placeholder="Archive"
                                                 optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                </span>

                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchDoctorant.dateArchivageMin"
                                    id="8-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="8-1">Date archivage Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchDoctorant.dateArchivageMax"
                                    id="8-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="8-2">Date archivage Max</label>
                        </span>


                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchDoctorant.dateCreationMin"
                                    id="9-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="9-1">Date creation Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchDoctorant.dateCreationMax"
                                    id="9-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="9-2">Date creation Max</label>
                        </span>

                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown  id="10" [options]="yesOrNoAdmin" [(ngModel)]="searchDoctorant.admin"
                                            [filter]="false" [showClear]="true"  placeholder="Admin"
                                                 optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown  id="11" [options]="yesOrNoVisible" [(ngModel)]="searchDoctorant.visible"
                                            [filter]="false" [showClear]="true"  placeholder="Visible"
                                                 optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="12"
                                           type="text"  [(ngModel)]="searchDoctorant.username">
                                    <label for="12">Username</label>
                                </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="doctorants" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['nom', 'prenom', 'libelle', 'civilite', 'libelle', 'anneeNaissance', 'archive', 'dateArchivage', 'dateCreation', 'admin', 'visible', 'username']" [(selection)]="selectedDoctorant"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Doctorants</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="nom">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Nom</span>
                                        <p-sortIcon field="nom"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="prenom">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Prenom</span>
                                        <p-sortIcon field="prenom"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="sexe">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Sexe</span>
                                        <p-sortIcon field="sexe"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="civilite">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Civilite</span>
                                        <p-sortIcon field="civilite"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="pays">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Pays</span>
                                        <p-sortIcon field="pays"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="anneeNaissance">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Annee naissance</span>
                                        <p-sortIcon field="anneeNaissance"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="archive">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Archive</span>
                                        <p-sortIcon field="archive"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="dateArchivage">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Date archivage</span>
                                        <p-sortIcon field="dateArchivage"></p-sortIcon>
                                    </div>
                                </th>
                                


                                <!-- 
                                <th pSortableColumn="dateCreation">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Date creation</span>
                                        <p-sortIcon field="dateCreation"></p-sortIcon>
                                    </div>
                                </th>
                                --> 


                                <!-- 
                                <th pSortableColumn="admin">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Admin</span>
                                        <p-sortIcon field="admin"></p-sortIcon>
                                    </div>
                                </th>
                                --> 


                                <!-- 
                                <th pSortableColumn="visible">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Visible</span>
                                        <p-sortIcon field="visible"></p-sortIcon>
                                    </div>
                                </th>
                                --> 


                                <!-- 
                                <th pSortableColumn="username">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Username</span>
                                        <p-sortIcon field="username"></p-sortIcon>
                                    </div>
                                </th>
                                --> 


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-doctorant>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="doctorant"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{doctorant.nom}}</td>
                            

                            
                                 <td>{{doctorant.prenom}}</td>
                            

                            
                                <td>{{doctorant.sexeVo?.libelle}}</td>
                            

                            
                                 <td>{{doctorant.civilite}}</td>
                            

                            
                                <td>{{doctorant.paysVo?.libelle}}</td>
                            

                            
                                 <td>{{doctorant.anneeNaissance}}</td>
                            

                            
                                <td><i *ngIf="doctorant.archive" class="pi pi-check checked-toogle"></i>
                                    <i *ngIf="!doctorant.archive" class="pi pi-times unchecked-toogle"></i>
                                </td>
                            

                            
                                <td>{{doctorant.dateArchivage | date:'dd-M-yyyy' }}</td>
                            

                             <!-- 
                                <td>{{doctorant.dateCreation | date:'dd-M-yyyy' }}</td>
                             --> 

                             <!-- 
                                <td><i *ngIf="doctorant.admin" class="pi pi-check checked-toogle"></i>
                                    <i *ngIf="!doctorant.admin" class="pi pi-times unchecked-toogle"></i>
                                </td>
                             --> 

                             <!-- 
                                <td><i *ngIf="doctorant.visible" class="pi pi-check checked-toogle"></i>
                                    <i *ngIf="!doctorant.visible" class="pi pi-times unchecked-toogle"></i>
                                </td>
                             --> 

                             <!-- 
                                 <td>{{doctorant.username}}</td>
                             --> 


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editDoctorant(doctorant)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewDoctorant(doctorant)"></button>
                            <button *ngIf="!doctorant.archive" pButton pRipple icon="pi pi-calendar-minus" class="p-button-rounded p-button-help p-mr-2"
                                    (click)="archiverDoctorant(doctorant)"></button>

                            <button *ngIf="doctorant.archive" pButton pRipple icon="pi pi-calendar-plus" class="p-button-rounded p-button-secondary p-mr-2"
                                    (click)="desarchiverDoctorant(doctorant)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateDoctorant(doctorant)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{doctorants ? doctorants.length == 1 ? 'y a' : 'y a' : 'y a' }} {{doctorants ? doctorants.length : 0 }} {{doctorants ? doctorants.length == 1 ? 'doctorant' : 'doctorants' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-doctorant-create-admin></app-doctorant-create-admin>
        <app-doctorant-edit-admin></app-doctorant-edit-admin>
        <app-doctorant-view-admin></app-doctorant-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
