
        <p-dialog [(visible)]="editEnjeuxIrdConseilsScientifiqueDialog" [style]="{width: '70vw'}"
                header="Enjeux ird conseils scientifique" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Enjeux ird conseils scientifique">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-5">
                                            <label for="1">Enjeux ird</label>
                                            <p-dropdown [options]="enjeuxIrds" [(ngModel)]="selectedEnjeuxIrdConseilsScientifique.enjeuxIrdVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Enjeux ird">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateenjeuxIrd('enjeuxIrd')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-5">
                                            <label for="2">Conseils scientifique</label>
                                            <p-dropdown [options]="conseilsScientifiques" [(ngModel)]="selectedEnjeuxIrdConseilsScientifique.conseilsScientifiqueVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Conseils scientifique">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateconseilsScientifique('conseilsScientifique')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-enjeux-ird-create-chercheur></app-enjeux-ird-create-chercheur>
                    <app-conseils-scientifique-create-chercheur></app-conseils-scientifique-create-chercheur>



    </p-dialog>



