
        <p-dialog [(visible)]="editCultureScientifiqueDialog" [style]="{width: '70vw'}"
                header="Culture scientifique" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Culture scientifique">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Annee</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="1"
                                                           placeholder="Annee"  [(ngModel)]="selectedCultureScientifique.annee"
                                                    [(ngModel)]="selectedCultureScientifique.annee"></p-inputNumber>
                                        </div>

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Temps estime pour cette annne</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="2"
                                                           placeholder="Temps estime pour cette annne"  [(ngModel)]="selectedCultureScientifique.tempsEstimePourCetteAnnne"
                                                    [(ngModel)]="selectedCultureScientifique.tempsEstimePourCetteAnnne"></p-inputNumber>
                                        </div>



                                        <div class="p-field p-col-12 p-md-5">
                                            <label for="5">Etat etape campagne</label>
                                            <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedCultureScientifique.etatEtapeCampagneVo"
                                                    id="5" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat etape campagne">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetatEtapeCampagne('etatEtapeCampagne')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-5">
                                            <label for="6">Nature activite grand publique</label>
                                            <p-dropdown [options]="natureActiviteGrandPubliques" [(ngModel)]="selectedCultureScientifique.natureActiviteGrandPubliqueVo"
                                                    id="6" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Nature activite grand publique">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatenatureActiviteGrandPublique('natureActiviteGrandPublique')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="Rencontre grand publique jeune publiques">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-field">
                                                    <label for="1">Intitule sujet</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Intitule sujet"
                                                           id="1" [(ngModel)]="selectedRencontreGrandPubliqueJeunePubliques.intituleSujet"
                                                           />
                                                </div>

                                                <div class="p-field">
                                                    <label for="2">Nombre personne estime</label>
                                                    <p-inputNumber class="p-mb-2 p-mr-2" id="nombrePersonneEstime"
                                                                   placeholder="Nombre personne estime"
                                                            [(ngModel)]="selectedRencontreGrandPubliqueJeunePubliques.nombrePersonneEstime"></p-inputNumber>
                                                </div>

                                                <div class="p-field  align-inputswitch">
                                                    <div  class="label-inputswitch">
                                                        <label for="3">Lien instrument ird</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="3"  [(ngModel)]="selectedRencontreGrandPubliqueJeunePubliques.lienInstrumentIrd"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                <div class="p-field">
                                                    <label for="4">Lien web</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Lien web"
                                                           id="4" [(ngModel)]="selectedRencontreGrandPubliqueJeunePubliques.lienWeb"
                                                           />
                                                </div>

                                                <div class="p-field">
                                                    <label for="5">Remarque</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Remarque"
                                                           id="5" [(ngModel)]="selectedRencontreGrandPubliqueJeunePubliques.remarque"
                                                           />
                                                </div>

                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Format rencontre</label>
                                                        <p-dropdown [options]="formatRencontres" [(ngModel)]="selectedRencontreGrandPubliqueJeunePubliques.formatRencontreVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Format rencontre"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateformatRencontre('formatRencontre')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Contexte</label>
                                                        <p-dropdown [options]="contextes" [(ngModel)]="selectedRencontreGrandPubliqueJeunePubliques.contexteVo"
                                                                id="1"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Contexte"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatecontexte('contexte')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Pays</label>
                                                        <p-dropdown [options]="payss" [(ngModel)]="selectedRencontreGrandPubliqueJeunePubliques.paysVo"
                                                                id="2"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Pays"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Etat etape campagne</label>
                                                        <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedRencontreGrandPubliqueJeunePubliques.etatEtapeCampagneVo"
                                                                id="4"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Etat etape campagne"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateetatEtapeCampagne('etatEtapeCampagne')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addRencontreGrandPubliqueJeunePubliques()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedCultureScientifique.rencontreGrandPubliqueJeunePubliquesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Format rencontre</th>
                                                                    <th>Intitule sujet</th>
                                                                    <th>Nombre personne estime</th>
                                                                    <th>Contexte</th>
                                                                    <th>Lien instrument ird</th>
                                                                    <th>Pays</th>
                                                                    <th>Lien web</th>
                                                                    <th>Remarque</th>
                                                                    <th>Etat etape campagne</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.formatRencontreVo?.libelle}}</td>
                                                                    <td>{{p.intituleSujet}}</td>

                                                                    <td>{{p.nombrePersonneEstime}}</td>

                                                                <td>{{p.contexteVo?.libelle}}</td>
                                                                    <td><i *ngIf="p.lienInstrumentIrd" class="pi pi-check checked-toogle"></i>
                                                                        <i *ngIf="!p.lienInstrumentIrd" class="pi pi-times unchecked-toogle"></i>
                                                                    </td>

                                                                <td>{{p.paysVo?.libelle}}</td>
                                                                    <td>{{p.lienWeb}}</td>

                                                                    <td>{{p.remarque}}</td>

                                                                <td>{{p.etatEtapeCampagneVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteRencontreGrandPubliqueJeunePubliques(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Rencontre medias">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-field">
                                                    <label for="1">Intitule sujet</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Intitule sujet"
                                                           id="1" [(ngModel)]="selectedRencontreMedias.intituleSujet"
                                                           />
                                                </div>

                                                <div class="p-field">
                                                    <label for="2">Lien web</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Lien web"
                                                           id="2" [(ngModel)]="selectedRencontreMedias.lienWeb"
                                                           />
                                                </div>

                                                <div class="p-field">
                                                    <label for="3">Remarque</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Remarque"
                                                           id="3" [(ngModel)]="selectedRencontreMedias.remarque"
                                                           />
                                                </div>

                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Format rencontre</label>
                                                        <p-dropdown [options]="formatRencontres" [(ngModel)]="selectedRencontreMedias.formatRencontreVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Format rencontre"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateformatRencontre('formatRencontre')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Etat etape campagne</label>
                                                        <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedRencontreMedias.etatEtapeCampagneVo"
                                                                id="2"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Etat etape campagne"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateetatEtapeCampagne('etatEtapeCampagne')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addRencontreMedias()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedCultureScientifique.rencontreMediasVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Format rencontre</th>
                                                                    <th>Intitule sujet</th>
                                                                    <th>Lien web</th>
                                                                    <th>Remarque</th>
                                                                    <th>Etat etape campagne</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.formatRencontreVo?.libelle}}</td>
                                                                    <td>{{p.intituleSujet}}</td>

                                                                    <td>{{p.lienWeb}}</td>

                                                                    <td>{{p.remarque}}</td>

                                                                <td>{{p.etatEtapeCampagneVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteRencontreMedias(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Outil pedagogiques">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-field">
                                                    <label for="1">Nom</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Nom"
                                                           id="1" [(ngModel)]="selectedOutilPedagogiques.nom"
                                                           />
                                                </div>

                                                <div class="p-field">
                                                    <label for="2">Role outil pedagogique</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Role outil pedagogique"
                                                           id="2" [(ngModel)]="selectedOutilPedagogiques.roleOutilPedagogique"
                                                           />
                                                </div>

                                                <div class="p-field">
                                                    <label for="3">Date diffusion</label>
                                                    <p-calendar id="3"
                                                                placeholder="Date diffusion"
                                                            [(ngModel)]="selectedOutilPedagogiques.dateDiffusion"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"></p-calendar>
                                                </div>
                                                <div class="p-field  align-inputswitch">
                                                    <div  class="label-inputswitch">
                                                        <label for="4">Disponnible numerique</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="4"  [(ngModel)]="selectedOutilPedagogiques.disponnibleNumerique"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                <div class="p-field">
                                                    <label for="5">Lien web</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Lien web"
                                                           id="5" [(ngModel)]="selectedOutilPedagogiques.lienWeb"
                                                           />
                                                </div>

                                                <div class="p-field  align-inputswitch">
                                                    <div  class="label-inputswitch">
                                                        <label for="6">Lien instrument ird</label>
                                                    </div>
                                                    <div class="input-switch">
                                                        <p-inputSwitch id="6"  [(ngModel)]="selectedOutilPedagogiques.lienInstrumentIrd"></p-inputSwitch>
                                                    </div>
                                                </div>
                                                <div class="p-field">
                                                    <label for="7">Partenaire eventuel</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Partenaire eventuel"
                                                           id="7" [(ngModel)]="selectedOutilPedagogiques.partenaireEventuel"
                                                           />
                                                </div>

                                                <div class="p-field">
                                                    <label for="8">Remarque</label>
                                                    <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                           placeholder="Remarque"
                                                           id="8" [(ngModel)]="selectedOutilPedagogiques.remarque"
                                                           />
                                                </div>

                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Etat etape campagne</label>
                                                        <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedOutilPedagogiques.etatEtapeCampagneVo"
                                                                id="1"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Etat etape campagne"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateetatEtapeCampagne('etatEtapeCampagne')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addOutilPedagogiques()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedCultureScientifique.outilPedagogiquesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Nom</th>
                                                                    <th>Role outil pedagogique</th>
                                                                    <th>Date diffusion</th>
                                                                    <th>Disponnible numerique</th>
                                                                    <th>Lien web</th>
                                                                    <th>Lien instrument ird</th>
                                                                    <th>Partenaire eventuel</th>
                                                                    <th>Remarque</th>
                                                                    <th>Etat etape campagne</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                    <td>{{p.nom}}</td>

                                                                    <td>{{p.roleOutilPedagogique}}</td>

                                                                    <td>{{p.dateDiffusion | date: dateFormatColumn}}</td>

                                                                    <td><i *ngIf="p.disponnibleNumerique" class="pi pi-check checked-toogle"></i>
                                                                        <i *ngIf="!p.disponnibleNumerique" class="pi pi-times unchecked-toogle"></i>
                                                                    </td>

                                                                    <td>{{p.lienWeb}}</td>

                                                                    <td><i *ngIf="p.lienInstrumentIrd" class="pi pi-check checked-toogle"></i>
                                                                        <i *ngIf="!p.lienInstrumentIrd" class="pi pi-times unchecked-toogle"></i>
                                                                    </td>

                                                                    <td>{{p.partenaireEventuel}}</td>

                                                                    <td>{{p.remarque}}</td>

                                                                <td>{{p.etatEtapeCampagneVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteOutilPedagogiques(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-campagne-create-chercheur></app-campagne-create-chercheur>
                    <app-chercheur-create-chercheur></app-chercheur-create-chercheur>
                    <app-etat-etape-campagne-create-chercheur></app-etat-etape-campagne-create-chercheur>
                    <app-nature-activite-grand-publique-create-chercheur></app-nature-activite-grand-publique-create-chercheur>

                            <app-format-rencontre-create-chercheur></app-format-rencontre-create-chercheur>
                            <app-contexte-create-chercheur></app-contexte-create-chercheur>
                            <app-pays-create-chercheur></app-pays-create-chercheur>
                            <app-etat-etape-campagne-create-chercheur></app-etat-etape-campagne-create-chercheur>
                            <app-format-rencontre-create-chercheur></app-format-rencontre-create-chercheur>
                            <app-etat-etape-campagne-create-chercheur></app-etat-etape-campagne-create-chercheur>
                            <app-etat-etape-campagne-create-chercheur></app-etat-etape-campagne-create-chercheur>


    </p-dialog>



