
<p-dialog [(visible)]="viewExpertiseScientifiqueDialog" [style]="{width: '70vw'}"
        header="Expertise scientifique" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Expertise scientifique">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="1">Annee</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="1" [disabled]="true"
                                                   placeholder="Annee"  [(ngModel)]="selectedExpertiseScientifique.annee"
                                            [(ngModel)]="selectedExpertiseScientifique.annee"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="2">Intitule</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Intitule"  [(ngModel)]="selectedExpertiseScientifique.intitule"
                                           id="2" [(ngModel)]="selectedExpertiseScientifique.intitule"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="3">Type expertise</label>
                                    <p-dropdown [options]="typeExpertises" [(ngModel)]="selectedExpertiseScientifique.typeExpertiseVo"
                                            id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Type expertise">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="4">Nombre jour consacre pour cette annee</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="4" [disabled]="true"
                                                   placeholder="Nombre jour consacre pour cette annee"  [(ngModel)]="selectedExpertiseScientifique.nombreJourConsacrePourCetteAnnee"
                                            [(ngModel)]="selectedExpertiseScientifique.nombreJourConsacrePourCetteAnnee"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="5">Periode remise rapport mois</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="5" [disabled]="true"
                                                   placeholder="Periode remise rapport mois"  [(ngModel)]="selectedExpertiseScientifique.periodeRemiseRapportMois"
                                            [(ngModel)]="selectedExpertiseScientifique.periodeRemiseRapportMois"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="6">Periode remise rapport annee</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="6" [disabled]="true"
                                                   placeholder="Periode remise rapport annee"  [(ngModel)]="selectedExpertiseScientifique.periodeRemiseRapportAnnee"
                                            [(ngModel)]="selectedExpertiseScientifique.periodeRemiseRapportAnnee"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="7">Pays</label>
                                    <p-dropdown [options]="payss" [(ngModel)]="selectedExpertiseScientifique.paysVo"
                                            id="7" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Pays">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="8">Etablissement</label>
                                    <p-dropdown [options]="etablissements" [(ngModel)]="selectedExpertiseScientifique.etablissementVo"
                                            id="8" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Etablissement">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="11">Commentaires eventuels</label>
                                    <textarea id="11" pInputTextarea rows="5" cols="30"
                                              placeholder="Commentaires eventuels"  [(ngModel)]="selectedExpertiseScientifique.commentairesEventuels"
                                    ></textarea>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="12">Etat etape campagne</label>
                                    <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedExpertiseScientifique.etatEtapeCampagneVo"
                                            id="12" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Etat etape campagne">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="13">Chercheur</label>
                                    <p-dropdown [options]="chercheurs" [(ngModel)]="selectedExpertiseScientifique.chercheurVo"
                                            id="13" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="numeroMatricule"
                                            placeholder="Chercheur">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="14">Campagne</label>
                                    <p-dropdown [options]="campagnes" [(ngModel)]="selectedExpertiseScientifique.campagneVo"
                                            id="14" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Campagne">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>
                    <p-tabPanel header="Communaute savoir expertise scientifiques">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedExpertiseScientifique.communauteSavoirExpertiseScientifiquesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Communaute savoir</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.communauteSavoirVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Discipline scientifique expertise scientifiques">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedExpertiseScientifique.disciplineScientifiqueExpertiseScientifiquesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Discipline scientifique</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.disciplineScientifiqueVo?.libelleEng}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-type-expertise-create-admin></app-type-expertise-create-admin>
            <app-pays-create-admin></app-pays-create-admin>
            <app-etablissement-create-admin></app-etablissement-create-admin>
            <app-etat-etape-campagne-create-admin></app-etat-etape-campagne-create-admin>
            <app-chercheur-create-admin></app-chercheur-create-admin>
            <app-campagne-create-admin></app-campagne-create-admin>

                    <app-communaute-savoir-create-admin></app-communaute-savoir-create-admin>
                    <app-discipline-scientifique-create-admin></app-discipline-scientifique-create-admin>


</p-dialog>



