<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateAffectationStructurelle('affectationStructurelle')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="1"
                                           type="text"  [(ngModel)]="searchAffectationStructurelle.code">
                                    <label for="1">Code</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="2"
                                           type="text"  [(ngModel)]="searchAffectationStructurelle.libelleCourt">
                                    <label for="2">Libelle court</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="3"
                                           type="text"  [(ngModel)]="searchAffectationStructurelle.libelleLong">
                                    <label for="3">Libelle long</label>
                                </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="affectationStructurelles" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['code', 'libelleCourt', 'libelleLong']" [(selection)]="selectedAffectationStructurelle"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Affectation structurelles</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="code">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Code</span>
                                        <p-sortIcon field="code"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="libelleCourt">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Libelle court</span>
                                        <p-sortIcon field="libelleCourt"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="libelleLong">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Libelle long</span>
                                        <p-sortIcon field="libelleLong"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-affectationStructurelle>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="affectationStructurelle"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{affectationStructurelle.code}}</td>
                            

                            
                                 <td>{{affectationStructurelle.libelleCourt}}</td>
                            

                            
                                 <td>{{affectationStructurelle.libelleLong}}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editAffectationStructurelle(affectationStructurelle)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewAffectationStructurelle(affectationStructurelle)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteAffectationStructurelle(affectationStructurelle)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateAffectationStructurelle(affectationStructurelle)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{affectationStructurelles ? affectationStructurelles.length == 1 ? 'y a' : 'y a' : 'y a' }} {{affectationStructurelles ? affectationStructurelles.length : 0 }} {{affectationStructurelles ? affectationStructurelles.length == 1 ? 'affectationStructurelle' : 'affectationStructurelles' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-affectation-structurelle-create-chercheur></app-affectation-structurelle-create-chercheur>
        <app-affectation-structurelle-edit-chercheur></app-affectation-structurelle-edit-chercheur>
        <app-affectation-structurelle-view-chercheur></app-affectation-structurelle-view-chercheur>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
