
        <p-dialog [(visible)]="editDeveloppementDeSavoirEtInnovationScientifiqueModeDiffusionDialog" [style]="{width: '70vw'}"
                header="Developpement de savoir et innovation scientifique mode diffusion" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Developpement de savoir et innovation scientifique mode diffusion">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-5">
                                            <label for="1">Mode diffusion</label>
                                            <p-dropdown [options]="modeDiffusions" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifiqueModeDiffusion.modeDiffusionVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Mode diffusion">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatemodeDiffusion('modeDiffusion')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-5">
                                            <label for="2">Developpement de savoir et innovation scientifique</label>
                                            <p-dropdown [options]="developpementDeSavoirEtInnovationScientifiques" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifiqueModeDiffusion.developpementDeSavoirEtInnovationScientifiqueVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Developpement de savoir et innovation scientifique">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatedeveloppementDeSavoirEtInnovationScientifique('developpementDeSavoirEtInnovationScientifique')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-mode-diffusion-create-chercheur></app-mode-diffusion-create-chercheur>
                    <app-developpement-de-savoir-et-innovation-scientifique-create-chercheur></app-developpement-de-savoir-et-innovation-scientifique-create-chercheur>



    </p-dialog>



