
<p-dialog [(visible)]="viewConseilEtComiteScientifiqueDialog" [style]="{width: '70vw'}"
        header="Conseil et comite scientifique" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Conseil et comite scientifique">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="1">Temps estime pour cette annne</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="1" [disabled]="true"
                                                   placeholder="Temps estime pour cette annne"  [(ngModel)]="selectedConseilEtComiteScientifique.tempsEstimePourCetteAnnne"
                                            [(ngModel)]="selectedConseilEtComiteScientifique.tempsEstimePourCetteAnnne"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="2">Intitule</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Intitule"  [(ngModel)]="selectedConseilEtComiteScientifique.intitule"
                                           id="2" [(ngModel)]="selectedConseilEtComiteScientifique.intitule"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="3">Pays</label>
                                    <p-dropdown [options]="payss" [(ngModel)]="selectedConseilEtComiteScientifique.paysVo"
                                            id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Pays">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-4">
                                    <label for="4">Etablissement</label>
                                    <p-dropdown [options]="etablissements" [(ngModel)]="selectedConseilEtComiteScientifique.etablissementVo"
                                            id="4" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Etablissement">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-4">
                                    <label for="5">Nombre jours par annee</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="5" [disabled]="true"
                                                   placeholder="Nombre jours par annee"  [(ngModel)]="selectedConseilEtComiteScientifique.nombreJoursParAnnee"
                                            [(ngModel)]="selectedConseilEtComiteScientifique.nombreJoursParAnnee"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="8">Chercheur</label>
                                    <p-dropdown [options]="chercheurs" [(ngModel)]="selectedConseilEtComiteScientifique.chercheurVo"
                                            id="8" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="numeroMatricule"
                                            placeholder="Chercheur">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-4">
                                    <label for="9">Campagne</label>
                                    <p-dropdown [options]="campagnes" [(ngModel)]="selectedConseilEtComiteScientifique.campagneVo"
                                            id="9" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Campagne">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-4">
                                    <label for="10">Etat etape campagne</label>
                                    <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedConseilEtComiteScientifique.etatEtapeCampagneVo"
                                            id="10" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Etat etape campagne">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>
                    <p-tabPanel header="Communaute savoir conseil et comite scientifiques">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedConseilEtComiteScientifique.communauteSavoirConseilEtComiteScientifiquesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Communaute savoir</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.communauteSavoirVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Discipline scientifique conseil et comite scientifiques">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedConseilEtComiteScientifique.disciplineScientifiqueConseilEtComiteScientifiquesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Discipline scientifique</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.disciplineScientifiqueVo?.libelleEng}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-pays-create-admin></app-pays-create-admin>
            <app-etablissement-create-admin></app-etablissement-create-admin>
            <app-chercheur-create-admin></app-chercheur-create-admin>
            <app-campagne-create-admin></app-campagne-create-admin>
            <app-etat-etape-campagne-create-admin></app-etat-etape-campagne-create-admin>

                    <app-communaute-savoir-create-admin></app-communaute-savoir-create-admin>
                    <app-discipline-scientifique-create-admin></app-discipline-scientifique-create-admin>


</p-dialog>



