<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateFormationContinuePubliqueProfessionel('formationContinuePubliqueProfessionel')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="formationContinues" [(ngModel)]="searchFormationContinuePubliqueProfessionel.formationContinueVo"
                                        id="1"
                                        [filter]="true" [showClear]="true"  placeholder="Formation continue"
                                        optionLabel="intitule">
                                </p-dropdown>
                            </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="publiqueProfessionels" [(ngModel)]="searchFormationContinuePubliqueProfessionel.publiqueProfessionelVo"
                                        id="2"
                                        [filter]="true" [showClear]="true"  placeholder="Publique professionel"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="formationContinuePubliqueProfessionels" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['intitule', 'libelle']" [(selection)]="selectedFormationContinuePubliqueProfessionel"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Formation continue publique professionels</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="formationContinue">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Formation continue</span>
                                        <p-sortIcon field="formationContinue"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="publiqueProfessionel">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Publique professionel</span>
                                        <p-sortIcon field="publiqueProfessionel"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-formationContinuePubliqueProfessionel>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="formationContinuePubliqueProfessionel"></p-tableCheckbox>
                        </td>
                            
                                <td>{{formationContinuePubliqueProfessionel.formationContinueVo?.intitule}}</td>
                            

                            
                                <td>{{formationContinuePubliqueProfessionel.publiqueProfessionelVo?.libelle}}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editFormationContinuePubliqueProfessionel(formationContinuePubliqueProfessionel)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewFormationContinuePubliqueProfessionel(formationContinuePubliqueProfessionel)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteFormationContinuePubliqueProfessionel(formationContinuePubliqueProfessionel)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateFormationContinuePubliqueProfessionel(formationContinuePubliqueProfessionel)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{formationContinuePubliqueProfessionels ? formationContinuePubliqueProfessionels.length == 1 ? 'y a' : 'y a' : 'y a' }} {{formationContinuePubliqueProfessionels ? formationContinuePubliqueProfessionels.length : 0 }} {{formationContinuePubliqueProfessionels ? formationContinuePubliqueProfessionels.length == 1 ? 'formationContinuePubliqueProfessionel' : 'formationContinuePubliqueProfessionels' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-formation-continue-publique-professionel-create-chercheur></app-formation-continue-publique-professionel-create-chercheur>
        <app-formation-continue-publique-professionel-edit-chercheur></app-formation-continue-publique-professionel-edit-chercheur>
        <app-formation-continue-publique-professionel-view-chercheur></app-formation-continue-publique-professionel-view-chercheur>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
