        <p-dialog [(visible)]="createEtablissementDialog" [style]="{width: '70vw'}"
                header="Etablissement" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Etablissement">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Libelle<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Libelle"
                                                   id="1" [(ngModel)]="selectedEtablissement.libelle"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validEtablissementLibelle}"  />
                                            <small class='p-error' *ngIf='!validEtablissementLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="2">Code</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Code"
                                                   id="2" [(ngModel)]="selectedEtablissement.code"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">Description</label>
                                            <textarea id="3" pInputTextarea rows="5" cols="30"
                                                      placeholder="Description"  [(ngModel)]="selectedEtablissement.description"
                                             ></textarea>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Sigle officiel</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Sigle officiel"
                                                   id="4" [(ngModel)]="selectedEtablissement.sigleOfficiel"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="5">Nom en francais</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nom en francais"
                                                   id="5" [(ngModel)]="selectedEtablissement.nomEnFrancais"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="6">Sigle en francais</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Sigle en francais"
                                                   id="6" [(ngModel)]="selectedEtablissement.sigleEnFrancais"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="7">Anciens nom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Anciens nom"
                                                   id="7" [(ngModel)]="selectedEtablissement.anciensNom"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="8">Ville</label>
                                            <p-dropdown [options]="villes" [(ngModel)]="selectedEtablissement.villeVo"
                                                    id="8" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Ville"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateville('ville')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="9">Pays</label>
                                            <p-dropdown [options]="payss" [(ngModel)]="selectedEtablissement.paysVo"
                                                    id="9" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Pays"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="10">Champ intervention</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Champ intervention"
                                                   id="10" [(ngModel)]="selectedEtablissement.champIntervention"
                                                     />
                                            
                                        </div>



                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="11">Valide</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="11"  [(ngModel)]="selectedEtablissement.valide"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="12">Archive</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="12"  [(ngModel)]="selectedEtablissement.archive"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="13">Date archivage</label>
                                            <p-calendar id="13"
                                                        placeholder="Date archivage"  [(ngModel)]="selectedEtablissement.dateArchivage"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="14">Date creation</label>
                                            <p-calendar id="14"
                                                        placeholder="Date creation"  [(ngModel)]="selectedEtablissement.dateCreation"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="15">Admin</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="15"  [(ngModel)]="selectedEtablissement.admin"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="16">Visible</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="16"  [(ngModel)]="selectedEtablissement.visible"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="17">Username</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Username"
                                                   id="17" [(ngModel)]="selectedEtablissement.username"
                                                     />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-ville-create-admin></app-ville-create-admin>
                    <app-pays-create-admin></app-pays-create-admin>


    </p-dialog>
