
<p-dialog [(visible)]="viewOutilPedagogiquePubliqueCibleDialog" [style]="{width: '70vw'}"
        header="Outil pedagogique publique cible" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Outil pedagogique publique cible">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Publique cible</label>
                                    <p-dropdown [options]="publiqueCibles" [(ngModel)]="selectedOutilPedagogiquePubliqueCible.publiqueCibleVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Publique cible">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Outil pedagogique</label>
                                    <p-dropdown [options]="outilPedagogiques" [(ngModel)]="selectedOutilPedagogiquePubliqueCible.outilPedagogiqueVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="id"
                                            placeholder="Outil pedagogique">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-publique-cible-create-admin></app-publique-cible-create-admin>
            <app-outil-pedagogique-create-admin></app-outil-pedagogique-create-admin>



</p-dialog>



