        <p-dialog [(visible)]="createModaliteDialog" [style]="{width: '70vw'}"
                header="Modalite" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Modalite">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="1">Libelle<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Libelle"
                                                   id="1" [(ngModel)]="selectedModalite.libelle"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validModaliteLibelle}"  />
                                            <small class='p-error' *ngIf='!validModaliteLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="2">Code</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Code"
                                                   id="2" [(ngModel)]="selectedModalite.code"
                                                     />
                                            
                                        </div>



                                        <div class="p-field align-inputswitch p-col-12  p-md-4">
                                            <div  class="label-inputswitch">
                                                <label for="3">Archive</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="3"  [(ngModel)]="selectedModalite.archive"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="4">Date archivage</label>
                                            <p-calendar id="4"
                                                        placeholder="Date archivage"  [(ngModel)]="selectedModalite.dateArchivage"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="5">Date creation</label>
                                            <p-calendar id="5"
                                                        placeholder="Date creation"  [(ngModel)]="selectedModalite.dateCreation"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-4">
                                            <div  class="label-inputswitch">
                                                <label for="6">Admin</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="6"  [(ngModel)]="selectedModalite.admin"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-4">
                                            <div  class="label-inputswitch">
                                                <label for="7">Visible</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="7"  [(ngModel)]="selectedModalite.visible"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="8">Username</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Username"
                                                   id="8" [(ngModel)]="selectedModalite.username"
                                                     />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
