
        <p-dialog [(visible)]="editConseilEtComiteScientifiqueDialog" [style]="{width: '70vw'}"
                header="Conseil et comite scientifique" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Conseil et comite scientifique">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="1">Temps estime pour cette annne</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="1"
                                                           placeholder="Temps estime pour cette annne"  [(ngModel)]="selectedConseilEtComiteScientifique.tempsEstimePourCetteAnnne"
                                                    [(ngModel)]="selectedConseilEtComiteScientifique.tempsEstimePourCetteAnnne"></p-inputNumber>
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="2">Intitule</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Intitule"
                                                   id="2" [(ngModel)]="selectedConseilEtComiteScientifique.intitule"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">Pays</label>
                                            <p-dropdown [options]="payss" [(ngModel)]="selectedConseilEtComiteScientifique.paysVo"
                                                    id="3" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Pays">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Etablissement</label>
                                            <p-dropdown [options]="etablissements" [(ngModel)]="selectedConseilEtComiteScientifique.etablissementVo"
                                                    id="4" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etablissement">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetablissement('etablissement')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="5">Nombre jours par annee</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="5"
                                                           placeholder="Nombre jours par annee"  [(ngModel)]="selectedConseilEtComiteScientifique.nombreJoursParAnnee"
                                                    [(ngModel)]="selectedConseilEtComiteScientifique.nombreJoursParAnnee"></p-inputNumber>
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="10">Etat etape campagne</label>
                                            <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedConseilEtComiteScientifique.etatEtapeCampagneVo"
                                                    id="10" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat etape campagne">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetatEtapeCampagne('etatEtapeCampagne')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="Communaute savoir conseil et comite scientifiques">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Communaute savoir</label>
                                                        <p-dropdown [options]="communauteSavoirs" [(ngModel)]="selectedCommunauteSavoirConseilEtComiteScientifiques.communauteSavoirVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Communaute savoir"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatecommunauteSavoir('communauteSavoir')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addCommunauteSavoirConseilEtComiteScientifiques()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedConseilEtComiteScientifique.communauteSavoirConseilEtComiteScientifiquesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Communaute savoir</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.communauteSavoirVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteCommunauteSavoirConseilEtComiteScientifiques(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Discipline scientifique conseil et comite scientifiques">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Discipline scientifique</label>
                                                        <p-dropdown [options]="disciplineScientifiques" [(ngModel)]="selectedDisciplineScientifiqueConseilEtComiteScientifiques.disciplineScientifiqueVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelleEng"
                                                                placeholder="Discipline scientifique"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatedisciplineScientifique('disciplineScientifique')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addDisciplineScientifiqueConseilEtComiteScientifiques()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedConseilEtComiteScientifique.disciplineScientifiqueConseilEtComiteScientifiquesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Discipline scientifique</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.disciplineScientifiqueVo?.libelleEng}}</td>
                                                        <td>
                                                            <button (click)="deleteDisciplineScientifiqueConseilEtComiteScientifiques(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-pays-create-chercheur></app-pays-create-chercheur>
                    <app-etablissement-create-chercheur></app-etablissement-create-chercheur>
                    <app-chercheur-create-chercheur></app-chercheur-create-chercheur>
                    <app-campagne-create-chercheur></app-campagne-create-chercheur>
                    <app-etat-etape-campagne-create-chercheur></app-etat-etape-campagne-create-chercheur>

                            <app-communaute-savoir-create-chercheur></app-communaute-savoir-create-chercheur>
                            <app-discipline-scientifique-create-chercheur></app-discipline-scientifique-create-chercheur>


    </p-dialog>



