
<p-dialog [(visible)]="viewEtudiantDialog" [style]="{width: '70vw'}"
        header="Etudiant" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Etudiant">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="1">Nom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Nom"  [(ngModel)]="selectedEtudiant.nom"
                                           id="1" [(ngModel)]="selectedEtudiant.nom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="2">Prenom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Prenom"  [(ngModel)]="selectedEtudiant.prenom"
                                           id="2" [(ngModel)]="selectedEtudiant.prenom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="3">Sexe</label>
                                    <p-dropdown [options]="sexes" [(ngModel)]="selectedEtudiant.sexeVo"
                                            id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Sexe">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="4">Pays</label>
                                    <p-dropdown [options]="payss" [(ngModel)]="selectedEtudiant.paysVo"
                                            id="4" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Pays">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="5">Annee naissance</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="5" [disabled]="true"
                                                   placeholder="Annee naissance"  [(ngModel)]="selectedEtudiant.anneeNaissance"
                                            [(ngModel)]="selectedEtudiant.anneeNaissance"></p-inputNumber>
                                </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="6">Archive</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="6"  [disabled]="true" [(ngModel)]="selectedEtudiant.archive"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="7">Date archivage</label>
                                    <p-calendar id="7" [disabled]="true"
                                                placeholder="Date archivage"  [(ngModel)]="selectedEtudiant.dateArchivage"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="8">Date creation</label>
                                    <p-calendar id="8" [disabled]="true"
                                                placeholder="Date creation"  [(ngModel)]="selectedEtudiant.dateCreation"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="9">Admin</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="9"  [disabled]="true" [(ngModel)]="selectedEtudiant.admin"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="10">Visible</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="10"  [disabled]="true" [(ngModel)]="selectedEtudiant.visible"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="11">Username</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Username"  [(ngModel)]="selectedEtudiant.username"
                                           id="11" [(ngModel)]="selectedEtudiant.username"
                                           autofocus>
                                </div>



                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-sexe-create-admin></app-sexe-create-admin>
            <app-pays-create-admin></app-pays-create-admin>



</p-dialog>



