
<p-dialog [(visible)]="viewPaysRencontreMediaDialog" [style]="{width: '70vw'}"
        header="Pays rencontre media" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Pays rencontre media">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Pays</label>
                                    <p-dropdown [options]="payss" [(ngModel)]="selectedPaysRencontreMedia.paysVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Pays">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Rencontre media</label>
                                    <p-dropdown [options]="rencontreMedias" [(ngModel)]="selectedPaysRencontreMedia.rencontreMediaVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="id"
                                            placeholder="Rencontre media">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-pays-create-chercheur></app-pays-create-chercheur>
            <app-rencontre-media-create-chercheur></app-rencontre-media-create-chercheur>



</p-dialog>



