        <p-dialog [(visible)]="createProjetActiviteRechercheDetailDialog" [style]="{width: '70vw'}"
                header="Projet activite recherche detail" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Projet activite recherche detail">
                        <div class="p-grid">

                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="1">Status projet</label>
                                            <p-dropdown [options]="statusProjets" [(ngModel)]="selectedProjetActiviteRechercheDetail.statusProjetVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Status projet"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatestatusProjet('statusProjet')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="2">Sujet intitule reponse</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Sujet intitule reponse"
                                                   id="2" [(ngModel)]="selectedProjetActiviteRechercheDetail.sujetIntituleReponse"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">Duree prevu en mois</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="3"
                                                           placeholder="Duree prevu en mois"
                                                    [(ngModel)]="selectedProjetActiviteRechercheDetail.dureePrevuEnMois"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="4">Role projet</label>
                                            <p-dropdown [options]="roleProjets" [(ngModel)]="selectedProjetActiviteRechercheDetail.roleProjetVo"
                                                    id="4" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Role projet"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateroleProjet('roleProjet')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                    <div class="p-field p-col-12  p-md-3">
                                        <label>Enjeux ird</label>
                                        <p-multiSelect [options]="projetActiviteRechercheDetailEnjeuxIrdsVo" [(ngModel)]="selectedProjetActiviteRechercheDetail.projetActiviteRechercheDetailEnjeuxIrdsVo" defaultLabel="Select un enjeuxIrd" optionLabel="enjeuxIrdVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                    <div class="p-field p-col-12  p-md-3">
                                        <label>Instrument ird</label>
                                        <p-multiSelect [options]="projetActiviteRechercheDetailInstrumentIrdsVo" [(ngModel)]="selectedProjetActiviteRechercheDetail.projetActiviteRechercheDetailInstrumentIrdsVo" defaultLabel="Select un instrumentIrd" optionLabel="instrumentIrdVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                    <div class="p-field p-col-12  p-md-3">
                                        <label>Pays</label>
                                        <p-multiSelect [options]="projetActiviteRechercheDetailPayssVo" [(ngModel)]="selectedProjetActiviteRechercheDetail.projetActiviteRechercheDetailPayssVo" defaultLabel="Select un pays" optionLabel="paysVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="8">Financement specifique</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="8"  [(ngModel)]="selectedProjetActiviteRechercheDetail.financementSpecifique"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="9">Montant financement prevu</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="9"
                                                           placeholder="Montant financement prevu"
                                                    [(ngModel)]="selectedProjetActiviteRechercheDetail.montantFinancementPrevu"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="10">Etablissement</label>
                                            <p-dropdown [options]="etablissements" [(ngModel)]="selectedProjetActiviteRechercheDetail.etablissementVo"
                                                    id="10" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etablissement"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetablissement('etablissement')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="11">Pays</label>
                                            <p-dropdown [options]="payss" [(ngModel)]="selectedProjetActiviteRechercheDetail.paysVo"
                                                    id="11" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Pays"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                    <div class="p-field p-col-12  p-md-3">
                                        <label>Etablissement</label>
                                        <p-multiSelect [options]="projetActiviteRechercheDetailInstitutionCoContractantsVo" [(ngModel)]="selectedProjetActiviteRechercheDetail.projetActiviteRechercheDetailInstitutionCoContractantsVo" defaultLabel="Select un etablissement" optionLabel="etablissementVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                    <div class="p-field p-col-12  p-md-3">
                                        <label>Etablissement</label>
                                        <p-multiSelect [options]="projetActiviteRechercheDetailEtablissementLanceursVo" [(ngModel)]="selectedProjetActiviteRechercheDetail.projetActiviteRechercheDetailEtablissementLanceursVo" defaultLabel="Select un etablissement" optionLabel="etablissementVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="14">Projet activite recherche</label>
                                            <p-dropdown [options]="projetActiviteRecherches" [(ngModel)]="selectedProjetActiviteRechercheDetail.projetActiviteRechercheVo"
                                                    id="14" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Projet activite recherche"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateprojetActiviteRecherche('projetActiviteRecherche')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="15">Etat etape campagne</label>
                                            <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedProjetActiviteRechercheDetail.etatEtapeCampagneVo"
                                                    id="15" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat etape campagne"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetatEtapeCampagne('etatEtapeCampagne')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-status-projet-create-admin></app-status-projet-create-admin>
                    <app-role-projet-create-admin></app-role-projet-create-admin>
                    <app-etablissement-create-admin></app-etablissement-create-admin>
                    <app-pays-create-admin></app-pays-create-admin>
                    <app-projet-activite-recherche-create-admin></app-projet-activite-recherche-create-admin>
                    <app-etat-etape-campagne-create-admin></app-etat-etape-campagne-create-admin>

                            <app-enjeux-ird-create-admin></app-enjeux-ird-create-admin>
                            <app-instrument-ird-create-admin></app-instrument-ird-create-admin>
                            <app-pays-create-admin></app-pays-create-admin>
                            <app-etablissement-create-admin></app-etablissement-create-admin>
                            <app-etablissement-create-admin></app-etablissement-create-admin>

    </p-dialog>
