
<p-dialog [(visible)]="viewTypeEnseignementDialog" [style]="{width: '70vw'}"
        header="Type enseignement" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Type enseignement">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="1">Libelle</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Libelle"  [(ngModel)]="selectedTypeEnseignement.libelle"
                                           id="1" [(ngModel)]="selectedTypeEnseignement.libelle"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="2">Code</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Code"  [(ngModel)]="selectedTypeEnseignement.code"
                                           id="2" [(ngModel)]="selectedTypeEnseignement.code"
                                           autofocus>
                                </div>



                                <div class="p-field align-inputswitch p-col-12  p-md-4">
                                    <div  class="label-inputswitch">
                                        <label for="3">Archive</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="3"  [disabled]="true" [(ngModel)]="selectedTypeEnseignement.archive"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-4">
                                    <label for="4">Date archivage</label>
                                    <p-calendar id="4" [disabled]="true"
                                                placeholder="Date archivage"  [(ngModel)]="selectedTypeEnseignement.dateArchivage"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="5">Date creation</label>
                                    <p-calendar id="5" [disabled]="true"
                                                placeholder="Date creation"  [(ngModel)]="selectedTypeEnseignement.dateCreation"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-4">
                                    <div  class="label-inputswitch">
                                        <label for="6">Admin</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="6"  [disabled]="true" [(ngModel)]="selectedTypeEnseignement.admin"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-4">
                                    <div  class="label-inputswitch">
                                        <label for="7">Visible</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="7"  [disabled]="true" [(ngModel)]="selectedTypeEnseignement.visible"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-4">
                                    <label for="8">Username</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Username"  [(ngModel)]="selectedTypeEnseignement.username"
                                           id="8" [(ngModel)]="selectedTypeEnseignement.username"
                                           autofocus>
                                </div>



                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>




</p-dialog>



