
        <p-dialog [(visible)]="editEtablissementProjetDialog" [style]="{width: '70vw'}"
                header="Etablissement projet" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Etablissement projet">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Libelle</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Libelle"
                                                   id="1" [(ngModel)]="selectedEtablissementProjet.libelle"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="2">Code</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Code"
                                                   id="2" [(ngModel)]="selectedEtablissementProjet.code"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">Description</label>
                                            <textarea id="3" pInputTextarea rows="5" cols="30"
                                                      placeholder="Description"  [(ngModel)]="selectedEtablissementProjet.description"
                                            ></textarea>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Sigle officiel</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Sigle officiel"
                                                   id="4" [(ngModel)]="selectedEtablissementProjet.sigleOfficiel"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="5">Nom en francais</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nom en francais"
                                                   id="5" [(ngModel)]="selectedEtablissementProjet.nomEnFrancais"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="6">Sigle en francais</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Sigle en francais"
                                                   id="6" [(ngModel)]="selectedEtablissementProjet.sigleEnFrancais"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="7">Anciens nom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Anciens nom"
                                                   id="7" [(ngModel)]="selectedEtablissementProjet.anciensNom"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="8">Ville</label>
                                            <p-dropdown [options]="villes" [(ngModel)]="selectedEtablissementProjet.villeVo"
                                                    id="8" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Ville">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateville('ville')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="9">Pays</label>
                                            <p-dropdown [options]="payss" [(ngModel)]="selectedEtablissementProjet.paysVo"
                                                    id="9" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Pays">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="10">Champ intervention</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Champ intervention"
                                                   id="10" [(ngModel)]="selectedEtablissementProjet.champIntervention"
                                                   />
                                        </div>



                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="11">Valide</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="11"  [(ngModel)]="selectedEtablissementProjet.valide"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="12">Archive</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="12"  [(ngModel)]="selectedEtablissementProjet.archive"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="13">Date archivage</label>
                                            <p-calendar id="13"
                                                        placeholder="Date archivage"  [(ngModel)]="selectedEtablissementProjet.dateArchivage"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="14">Date creation</label>
                                            <p-calendar id="14"
                                                        placeholder="Date creation"  [(ngModel)]="selectedEtablissementProjet.dateCreation"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="15">Admin</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="15"  [(ngModel)]="selectedEtablissementProjet.admin"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="16">Visible</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="16"  [(ngModel)]="selectedEtablissementProjet.visible"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="17">Username</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Username"
                                                   id="17" [(ngModel)]="selectedEtablissementProjet.username"
                                                   />
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-ville-create-chercheur></app-ville-create-chercheur>
                    <app-pays-create-chercheur></app-pays-create-chercheur>



    </p-dialog>



