        <p-dialog [(visible)]="createNotificationDialog" [style]="{width: '70vw'}"
                header="Notification" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Notification">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="1">Libelle<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Libelle"
                                                   id="1" [(ngModel)]="selectedNotification.libelle"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validNotificationLibelle}"  />
                                            <small class='p-error' *ngIf='!validNotificationLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="2">Description</label>
                                            <textarea id="2" pInputTextarea rows="5" cols="30"
                                                      placeholder="Description"  [(ngModel)]="selectedNotification.description"
                                             ></textarea>
                                            
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-4">
                                            <div  class="label-inputswitch">
                                                <label for="3">Vu</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="3"  [(ngModel)]="selectedNotification.vu"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="4">Date notification</label>
                                            <p-calendar id="4"
                                                        placeholder="Date notification"  [(ngModel)]="selectedNotification.dateNotification"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="5">Date lecture</label>
                                            <p-calendar id="5"
                                                        placeholder="Date lecture"  [(ngModel)]="selectedNotification.dateLecture"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="7">Categorie notification</label>
                                            <p-dropdown [options]="categorieNotifications" [(ngModel)]="selectedNotification.categorieNotificationVo"
                                                    id="7" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Categorie notification"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatecategorieNotification('categorieNotification')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-chercheur-create-chercheur></app-chercheur-create-chercheur>
                    <app-categorie-notification-create-chercheur></app-categorie-notification-create-chercheur>


    </p-dialog>
