
        <p-dialog [(visible)]="editOutilPedagogiqueDialog" [style]="{width: '70vw'}"
                header="Outil pedagogique" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Outil pedagogique">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Nom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nom"
                                                   id="1" [(ngModel)]="selectedOutilPedagogique.nom"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Role outil pedagogique</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Role outil pedagogique"
                                                   id="4" [(ngModel)]="selectedOutilPedagogique.roleOutilPedagogique"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="5">Date diffusion</label>
                                            <p-calendar id="5"
                                                        placeholder="Date diffusion"  [(ngModel)]="selectedOutilPedagogique.dateDiffusion"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="8">Disponnible numerique</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="8"  [(ngModel)]="selectedOutilPedagogique.disponnibleNumerique"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="11">Lien web</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Lien web"
                                                   id="11" [(ngModel)]="selectedOutilPedagogique.lienWeb"
                                                   />
                                        </div>



                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="13">Lien instrument ird</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="13"  [(ngModel)]="selectedOutilPedagogique.lienInstrumentIrd"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="16">Partenaire eventuel</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Partenaire eventuel"
                                                   id="16" [(ngModel)]="selectedOutilPedagogique.partenaireEventuel"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="17">Remarque</label>
                                            <textarea id="17" pInputTextarea rows="5" cols="30"
                                                      placeholder="Remarque"  [(ngModel)]="selectedOutilPedagogique.remarque"
                                            ></textarea>
                                        </div>

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="18">Culture scientifique</label>
                                            <p-dropdown [options]="cultureScientifiques" [(ngModel)]="selectedOutilPedagogique.cultureScientifiqueVo"
                                                    id="18" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Culture scientifique">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatecultureScientifique('cultureScientifique')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="19">Etat etape campagne</label>
                                            <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedOutilPedagogique.etatEtapeCampagneVo"
                                                    id="19" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat etape campagne">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetatEtapeCampagne('etatEtapeCampagne')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="Outil pedagogique enjeux irds">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Enjeux ird</label>
                                                        <p-dropdown [options]="enjeuxIrds" [(ngModel)]="selectedOutilPedagogiqueEnjeuxIrds.enjeuxIrdVo"
                                                                id="1"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Enjeux ird"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateenjeuxIrd('enjeuxIrd')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addOutilPedagogiqueEnjeuxIrds()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedOutilPedagogique.outilPedagogiqueEnjeuxIrdsVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Enjeux ird</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.enjeuxIrdVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteOutilPedagogiqueEnjeuxIrds(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Outil pedagogique discipline scientifiques">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Discipline scientifique</label>
                                                        <p-dropdown [options]="disciplineScientifiques" [(ngModel)]="selectedOutilPedagogiqueDisciplineScientifiques.disciplineScientifiqueVo"
                                                                id="1"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelleEng"
                                                                placeholder="Discipline scientifique"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatedisciplineScientifique('disciplineScientifique')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addOutilPedagogiqueDisciplineScientifiques()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedOutilPedagogique.outilPedagogiqueDisciplineScientifiquesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Discipline scientifique</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.disciplineScientifiqueVo?.libelleEng}}</td>
                                                        <td>
                                                            <button (click)="deleteOutilPedagogiqueDisciplineScientifiques(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Outil pedagogique publique cibles">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Publique cible</label>
                                                        <p-dropdown [options]="publiqueCibles" [(ngModel)]="selectedOutilPedagogiquePubliqueCibles.publiqueCibleVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Publique cible"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatepubliqueCible('publiqueCible')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addOutilPedagogiquePubliqueCibles()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedOutilPedagogique.outilPedagogiquePubliqueCiblesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Publique cible</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.publiqueCibleVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteOutilPedagogiquePubliqueCibles(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Type outil pedagogiques">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Type outil</label>
                                                        <p-dropdown [options]="typeOutils" [(ngModel)]="selectedTypeOutilPedagogiques.typeOutilVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Type outil"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatetypeOutil('typeOutil')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addTypeOutilPedagogiques()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedOutilPedagogique.typeOutilPedagogiquesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Type outil</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.typeOutilVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteTypeOutilPedagogiques(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Outil pedagogique langues">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Langue</label>
                                                        <p-dropdown [options]="langues" [(ngModel)]="selectedOutilPedagogiqueLangues.langueVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Langue"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatelangue('langue')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addOutilPedagogiqueLangues()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedOutilPedagogique.outilPedagogiqueLanguesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Langue</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.langueVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteOutilPedagogiqueLangues(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Outil pedagogique pays conceptions">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Pays</label>
                                                        <p-dropdown [options]="payss" [(ngModel)]="selectedOutilPedagogiquePaysConceptions.paysVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Pays"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addOutilPedagogiquePaysConceptions()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedOutilPedagogique.outilPedagogiquePaysConceptionsVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Pays</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.paysVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteOutilPedagogiquePaysConceptions(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Outil pedagogique pays diffusions">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Pays</label>
                                                        <p-dropdown [options]="payss" [(ngModel)]="selectedOutilPedagogiquePaysDiffusions.paysVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Pays"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addOutilPedagogiquePaysDiffusions()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedOutilPedagogique.outilPedagogiquePaysDiffusionsVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Pays</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.paysVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteOutilPedagogiquePaysDiffusions(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Outil pedagogique instrument irds">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Instrument ird</label>
                                                        <p-dropdown [options]="instrumentIrds" [(ngModel)]="selectedOutilPedagogiqueInstrumentIrds.instrumentIrdVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Instrument ird"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateinstrumentIrd('instrumentIrd')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addOutilPedagogiqueInstrumentIrds()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedOutilPedagogique.outilPedagogiqueInstrumentIrdsVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Instrument ird</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.instrumentIrdVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteOutilPedagogiqueInstrumentIrds(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Outil pedagogique type instrument irds">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Type instrument ird</label>
                                                        <p-dropdown [options]="typeInstrumentIrds" [(ngModel)]="selectedOutilPedagogiqueTypeInstrumentIrds.typeInstrumentIrdVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Type instrument ird"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatetypeInstrumentIrd('typeInstrumentIrd')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addOutilPedagogiqueTypeInstrumentIrds()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedOutilPedagogique.outilPedagogiqueTypeInstrumentIrdsVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Type instrument ird</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.typeInstrumentIrdVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteOutilPedagogiqueTypeInstrumentIrds(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-culture-scientifique-create-chercheur></app-culture-scientifique-create-chercheur>
                    <app-etat-etape-campagne-create-chercheur></app-etat-etape-campagne-create-chercheur>

                            <app-enjeux-ird-create-chercheur></app-enjeux-ird-create-chercheur>
                            <app-discipline-scientifique-create-chercheur></app-discipline-scientifique-create-chercheur>
                            <app-publique-cible-create-chercheur></app-publique-cible-create-chercheur>
                            <app-type-outil-create-chercheur></app-type-outil-create-chercheur>
                            <app-langue-create-chercheur></app-langue-create-chercheur>
                            <app-pays-create-chercheur></app-pays-create-chercheur>
                            <app-pays-create-chercheur></app-pays-create-chercheur>
                            <app-instrument-ird-create-chercheur></app-instrument-ird-create-chercheur>
                            <app-type-instrument-ird-create-chercheur></app-type-instrument-ird-create-chercheur>


    </p-dialog>



