
<p-dialog [(visible)]="viewChercheurDialog" [style]="{width: '70vw'}"
        header="Chercheur" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Chercheur">
                <div class="p-grid">

                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="1">Consentement rgpd</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="1"  [disabled]="true" [(ngModel)]="selectedChercheur.consentementRgpd"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="2">Numero matricule</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Numero matricule"  [(ngModel)]="selectedChercheur.numeroMatricule"
                                           id="2" [(ngModel)]="selectedChercheur.numeroMatricule"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="3">Email principale</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Email principale"  [(ngModel)]="selectedChercheur.emailPrincipale"
                                           id="3" [(ngModel)]="selectedChercheur.emailPrincipale"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="5">Affectation structurelle</label>
                                    <p-dropdown [options]="affectationStructurelles" [(ngModel)]="selectedChercheur.affectationStructurelleVo"
                                            id="5" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelleCourt"
                                            placeholder="Affectation structurelle">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="6">Entite administrative</label>
                                    <p-dropdown [options]="entiteAdministratives" [(ngModel)]="selectedChercheur.entiteAdministrativeVo"
                                            id="6" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelleCourt"
                                            placeholder="Entite administrative">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="7">Type entite administrative</label>
                                    <p-dropdown [options]="typeEntiteAdministratives" [(ngModel)]="selectedChercheur.typeEntiteAdministrativeVo"
                                            id="7" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Type entite administrative">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="8">Pays</label>
                                    <p-dropdown [options]="payss" [(ngModel)]="selectedChercheur.paysVo"
                                            id="8" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Pays">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="9">Ville</label>
                                    <p-dropdown [options]="villes" [(ngModel)]="selectedChercheur.villeVo"
                                            id="9" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Ville">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="10">Departement scientifique</label>
                                    <p-dropdown [options]="departementScientifiques" [(ngModel)]="selectedChercheur.departementScientifiqueVo"
                                            id="10" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Departement scientifique">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="11">Commission scientifique</label>
                                    <p-dropdown [options]="commissionScientifiques" [(ngModel)]="selectedChercheur.commissionScientifiqueVo"
                                            id="11" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelleCourt"
                                            placeholder="Commission scientifique">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="12">Grade</label>
                                    <p-dropdown [options]="grades" [(ngModel)]="selectedChercheur.gradeVo"
                                            id="12" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Grade">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="13">Corps</label>
                                    <p-dropdown [options]="corpss" [(ngModel)]="selectedChercheur.corpsVo"
                                            id="13" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Corps">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="14">Sexe</label>
                                    <p-dropdown [options]="sexes" [(ngModel)]="selectedChercheur.sexeVo"
                                            id="14" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Sexe">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="22">Resume</label>
                                    <textarea id="22" pInputTextarea rows="5" cols="30"
                                              placeholder="Resume"  [(ngModel)]="selectedChercheur.resume"
                                    ></textarea>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="23">Nature implication</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Nature implication"  [(ngModel)]="selectedChercheur.natureImplication"
                                           id="23" [(ngModel)]="selectedChercheur.natureImplication"
                                           autofocus>
                                </div>



                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="24">Formation en management</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="24"  [disabled]="true" [(ngModel)]="selectedChercheur.formationEnManagement"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="25">Credentials non expired</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="25"  [disabled]="true" [(ngModel)]="selectedChercheur.credentialsNonExpired"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="26">Enabled</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="26"  [disabled]="true" [(ngModel)]="selectedChercheur.enabled"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="27">Account non expired</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="27"  [disabled]="true" [(ngModel)]="selectedChercheur.accountNonExpired"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="28">Account non locked</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="28"  [disabled]="true" [(ngModel)]="selectedChercheur.accountNonLocked"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="29">Password changed</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="29"  [disabled]="true" [(ngModel)]="selectedChercheur.passwordChanged"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="30">Created at</label>
                                    <p-calendar id="30" [disabled]="true"
                                                placeholder="Created at"  [(ngModel)]="selectedChercheur.createdAt"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="31">Updated at</label>
                                    <p-calendar id="31" [disabled]="true"
                                                placeholder="Updated at"  [(ngModel)]="selectedChercheur.updatedAt"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="32">Username</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Username"  [(ngModel)]="selectedChercheur.username"
                                           id="32" [(ngModel)]="selectedChercheur.username"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="33">Password</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Password"  [(ngModel)]="selectedChercheur.password"
                                           id="33" [(ngModel)]="selectedChercheur.password"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="34">Prenom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Prenom"  [(ngModel)]="selectedChercheur.prenom"
                                           id="34" [(ngModel)]="selectedChercheur.prenom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="35">Nom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Nom"  [(ngModel)]="selectedChercheur.nom"
                                           id="35" [(ngModel)]="selectedChercheur.nom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="36">Base horizon</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Base horizon"  [(ngModel)]="selectedChercheur.baseHorizon"
                                           id="36" [(ngModel)]="selectedChercheur.baseHorizon"
                                           autofocus>
                                </div>



                </div>
            </p-tabPanel>
                    <p-tabPanel header="Chercheur emails">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedChercheur.chercheurEmailsVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Email</th>
                                                            <th>Principale</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                            <td>{{p.email}}</td>

                                                            <td><i *ngIf="p.principale" class="pi pi-check checked-toogle"></i>
                                                                <i *ngIf="!p.principale" class="pi pi-times unchecked-toogle"></i>
                                                            </td>


                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Discipline scientifique chercheurs">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedChercheur.disciplineScientifiqueChercheursVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Discipline scientifique</th>
                                                            <th>Discipline scientifique erc</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.disciplineScientifiqueVo?.libelleEng}}</td>
                                                        <td>{{p.disciplineScientifiqueErcVo?.libelleEng}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Zone activite interaction recherches">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedChercheur.zoneActiviteInteractionRecherchesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Libelle</th>
                                                            <th>Pays</th>
                                                            <th>Zone geographique</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                            <td>{{p.libelle}}</td>

                                                        <td>{{p.paysVo?.libelle}}</td>
                                                        <td>{{p.zoneGeographiqueVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Enjeux ird chercheurs">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedChercheur.enjeuxIrdChercheursVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Enjeux ird</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.enjeuxIrdVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Communaute savoir chercheurs">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedChercheur.communauteSavoirChercheursVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Communaute savoir</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.communauteSavoirVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Instrument ird chercheurs">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedChercheur.instrumentIrdChercheursVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Instrument ird</th>
                                                            <th>Nature implication</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.instrumentIrdVo?.libelle}}</td>
                                                            <td>{{p.natureImplication}}</td>


                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Type instrument ird chercheurs">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedChercheur.typeInstrumentIrdChercheursVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Type instrument ird</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.typeInstrumentIrdVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Identifiant auteur experts">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedChercheur.identifiantAuteurExpertsVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Identifiant recherche</th>
                                                            <th>Valeur</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.identifiantRechercheVo?.libelle}}</td>
                                                            <td>{{p.valeur}}</td>


                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-affectation-structurelle-create-admin></app-affectation-structurelle-create-admin>
            <app-entite-administrative-create-admin></app-entite-administrative-create-admin>
            <app-type-entite-administrative-create-admin></app-type-entite-administrative-create-admin>
            <app-pays-create-admin></app-pays-create-admin>
            <app-ville-create-admin></app-ville-create-admin>
            <app-departement-scientifique-create-admin></app-departement-scientifique-create-admin>
            <app-commission-scientifique-create-admin></app-commission-scientifique-create-admin>
            <app-grade-create-admin></app-grade-create-admin>
            <app-corps-create-admin></app-corps-create-admin>
            <app-sexe-create-admin></app-sexe-create-admin>

                    <app-discipline-scientifique-create-admin></app-discipline-scientifique-create-admin>
                    <app-discipline-scientifique-erc-create-admin></app-discipline-scientifique-erc-create-admin>
                    <app-pays-create-admin></app-pays-create-admin>
                    <app-zone-geographique-create-admin></app-zone-geographique-create-admin>
                    <app-enjeux-ird-create-admin></app-enjeux-ird-create-admin>
                    <app-communaute-savoir-create-admin></app-communaute-savoir-create-admin>
                    <app-instrument-ird-create-admin></app-instrument-ird-create-admin>
                    <app-type-instrument-ird-create-admin></app-type-instrument-ird-create-admin>
                    <app-identifiant-recherche-create-admin></app-identifiant-recherche-create-admin>


</p-dialog>



