
        <p-dialog [(visible)]="editPaysRencontreGrandPubliqueJeunePubliqueDialog" [style]="{width: '70vw'}"
                header="Pays rencontre grand publique jeune publique" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Pays rencontre grand publique jeune publique">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-5">
                                            <label for="1">Pays</label>
                                            <p-dropdown [options]="payss" [(ngModel)]="selectedPaysRencontreGrandPubliqueJeunePublique.paysVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Pays">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-5">
                                            <label for="2">Rencontre grand publique jeune publique</label>
                                            <p-dropdown [options]="rencontreGrandPubliqueJeunePubliques" [(ngModel)]="selectedPaysRencontreGrandPubliqueJeunePublique.rencontreGrandPubliqueJeunePubliqueVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Rencontre grand publique jeune publique">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreaterencontreGrandPubliqueJeunePublique('rencontreGrandPubliqueJeunePublique')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-pays-create-chercheur></app-pays-create-chercheur>
                    <app-rencontre-grand-publique-jeune-publique-create-chercheur></app-rencontre-grand-publique-jeune-publique-create-chercheur>



    </p-dialog>



