        <p-dialog [(visible)]="createPaysOrganisateurRencontreGrandPubliqueJeunePubliqueDialog" [style]="{width: '70vw'}"
                header="Pays organisateur rencontre grand publique jeune publique" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Pays organisateur rencontre grand publique jeune publique">
                        <div class="p-grid">

                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="1">Rencontre grand publique jeune publique</label>
                                            <p-dropdown [options]="rencontreGrandPubliqueJeunePubliques" [(ngModel)]="selectedPaysOrganisateurRencontreGrandPubliqueJeunePublique.rencontreGrandPubliqueJeunePubliqueVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Rencontre grand publique jeune publique"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreaterencontreGrandPubliqueJeunePublique('rencontreGrandPubliqueJeunePublique')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="2">Pays</label>
                                            <p-dropdown [options]="payss" [(ngModel)]="selectedPaysOrganisateurRencontreGrandPubliqueJeunePublique.paysVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Pays"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-rencontre-grand-publique-jeune-publique-create-admin></app-rencontre-grand-publique-jeune-publique-create-admin>
                    <app-pays-create-admin></app-pays-create-admin>


    </p-dialog>
