
<p-dialog [(visible)]="viewDeveloppementDeSavoirEtInnovationScientifiqueDialog" [style]="{width: '70vw'}"
        header="Developpement de savoir et innovation scientifique" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Developpement de savoir et innovation scientifique">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Titre instrument</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Titre instrument"  [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.titreInstrument"
                                           id="2" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.titreInstrument"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Role developpement de savoir</label>
                                    <p-dropdown [options]="roleDeveloppementDeSavoirs" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.roleDeveloppementDeSavoirVo"
                                            id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Role developpement de savoir">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="5">Annee mise en oeuvre</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="5" [disabled]="true"
                                                   placeholder="Annee mise en oeuvre"  [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.anneeMiseEnOeuvre"
                                            [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.anneeMiseEnOeuvre"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="12">Lien web</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Lien web"  [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.lienWeb"
                                           id="12" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.lienWeb"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="13">Savoir et innovation</label>
                                    <p-dropdown [options]="savoirEtInnovations" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.savoirEtInnovationVo"
                                            id="13" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="id"
                                            placeholder="Savoir et innovation">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="14">Etat etape campagne</label>
                                    <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifique.etatEtapeCampagneVo"
                                            id="14" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Etat etape campagne">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>
                    <p-tabPanel header="Type savoir developpement de savoir et innovation scientifiques">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedDeveloppementDeSavoirEtInnovationScientifique.typeSavoirDeveloppementDeSavoirEtInnovationScientifiquesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Type savoir</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.typeSavoirVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Type utilisateur savoir concus">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedDeveloppementDeSavoirEtInnovationScientifique.typeUtilisateurSavoirConcusVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Type utilisateur</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.typeUtilisateurVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Developpement de savoir et innovation scientifique mode diffusions">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedDeveloppementDeSavoirEtInnovationScientifique.developpementDeSavoirEtInnovationScientifiqueModeDiffusionsVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Mode diffusion</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.modeDiffusionVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Developpement de savoir et innovation scientifique enjeux irds">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedDeveloppementDeSavoirEtInnovationScientifique.developpementDeSavoirEtInnovationScientifiqueEnjeuxIrdsVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Enjeux ird</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.enjeuxIrdVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Developpement de savoir et innovation scientifique discipline scientifiques">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedDeveloppementDeSavoirEtInnovationScientifique.developpementDeSavoirEtInnovationScientifiqueDisciplineScientifiquesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Communaute savoir</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.communauteSavoirVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Developpement de savoir et innovation scientifique communaute savoirs">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedDeveloppementDeSavoirEtInnovationScientifique.developpementDeSavoirEtInnovationScientifiqueCommunauteSavoirsVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Communaute savoir</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.communauteSavoirVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Developpement de savoir et innovation scientifique payss">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedDeveloppementDeSavoirEtInnovationScientifique.developpementDeSavoirEtInnovationScientifiquePayssVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Pays</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.paysVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Developpement de savoir et innovation scientifique etablissements">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedDeveloppementDeSavoirEtInnovationScientifique.developpementDeSavoirEtInnovationScientifiqueEtablissementsVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Etablissement</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.etablissementVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-role-developpement-de-savoir-create-admin></app-role-developpement-de-savoir-create-admin>
            <app-savoir-et-innovation-create-admin></app-savoir-et-innovation-create-admin>
            <app-etat-etape-campagne-create-admin></app-etat-etape-campagne-create-admin>

                    <app-type-savoir-create-admin></app-type-savoir-create-admin>
                    <app-type-utilisateur-create-admin></app-type-utilisateur-create-admin>
                    <app-mode-diffusion-create-admin></app-mode-diffusion-create-admin>
                    <app-enjeux-ird-create-admin></app-enjeux-ird-create-admin>
                    <app-communaute-savoir-create-admin></app-communaute-savoir-create-admin>
                    <app-communaute-savoir-create-admin></app-communaute-savoir-create-admin>
                    <app-pays-create-admin></app-pays-create-admin>
                    <app-etablissement-create-admin></app-etablissement-create-admin>


</p-dialog>



