
<p-dialog [(visible)]="viewRencontreMediaDialog" [style]="{width: '70vw'}"
        header="Rencontre media" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Rencontre media">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Format rencontre</label>
                                    <p-dropdown [options]="formatRencontres" [(ngModel)]="selectedRencontreMedia.formatRencontreVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Format rencontre">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Intitule sujet</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Intitule sujet"  [(ngModel)]="selectedRencontreMedia.intituleSujet"
                                           id="3" [(ngModel)]="selectedRencontreMedia.intituleSujet"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="8">Lien web</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Lien web"  [(ngModel)]="selectedRencontreMedia.lienWeb"
                                           id="8" [(ngModel)]="selectedRencontreMedia.lienWeb"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="9">Remarque</label>
                                    <textarea id="9" pInputTextarea rows="5" cols="30"
                                              placeholder="Remarque"  [(ngModel)]="selectedRencontreMedia.remarque"
                                    ></textarea>
                                </div>

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="10">Culture scientifique</label>
                                    <p-dropdown [options]="cultureScientifiques" [(ngModel)]="selectedRencontreMedia.cultureScientifiqueVo"
                                            id="10" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="id"
                                            placeholder="Culture scientifique">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="11">Etat etape campagne</label>
                                    <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedRencontreMedia.etatEtapeCampagneVo"
                                            id="11" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Etat etape campagne">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>
                    <p-tabPanel header="Type publique rencontre medias">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedRencontreMedia.typePubliqueRencontreMediasVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Type publique</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.typePubliqueVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Rencontre media enjeux irds">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedRencontreMedia.rencontreMediaEnjeuxIrdsVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Enjeux ird</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.enjeuxIrdVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Rencontre media discipline scientifiques">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedRencontreMedia.rencontreMediaDisciplineScientifiquesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Discipline scientifique</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.disciplineScientifiqueVo?.libelleEng}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Rencontre media periodes">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedRencontreMedia.rencontreMediaPeriodesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Date rencontre</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                            <td>{{p.dateRencontre | date: dateFormatColumn}}</td>


                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Pays rencontre medias">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedRencontreMedia.paysRencontreMediasVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Pays</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.paysVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-format-rencontre-create-admin></app-format-rencontre-create-admin>
            <app-culture-scientifique-create-admin></app-culture-scientifique-create-admin>
            <app-etat-etape-campagne-create-admin></app-etat-etape-campagne-create-admin>

                    <app-type-publique-create-admin></app-type-publique-create-admin>
                    <app-enjeux-ird-create-admin></app-enjeux-ird-create-admin>
                    <app-discipline-scientifique-create-admin></app-discipline-scientifique-create-admin>
                    <app-pays-create-admin></app-pays-create-admin>


</p-dialog>



