<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateChercheurEmail('chercheurEmail')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="chercheurs" [(ngModel)]="searchChercheurEmail.chercheurVo"
                                        id="1"
                                        [filter]="true" [showClear]="true"  placeholder="Chercheur"
                                        optionLabel="numeroMatricule">
                                </p-dropdown>
                            </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="2"
                                           type="text"  [(ngModel)]="searchChercheurEmail.email">
                                    <label for="2">Email</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown  id="3" [options]="yesOrNoPrincipale" [(ngModel)]="searchChercheurEmail.principale"
                                            [filter]="false" [showClear]="true"  placeholder="Principale"
                                                 optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="chercheurEmails" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['numeroMatricule', 'email', 'principale']" [(selection)]="selectedChercheurEmail"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Chercheur emails</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="chercheur">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Chercheur</span>
                                        <p-sortIcon field="chercheur"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="email">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Email</span>
                                        <p-sortIcon field="email"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="principale">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Principale</span>
                                        <p-sortIcon field="principale"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-chercheurEmail>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="chercheurEmail"></p-tableCheckbox>
                        </td>
                            
                                <td>{{chercheurEmail.chercheurVo?.numeroMatricule}}</td>
                            

                            
                                 <td>{{chercheurEmail.email}}</td>
                            

                            
                                <td><i *ngIf="chercheurEmail.principale" class="pi pi-check checked-toogle"></i>
                                    <i *ngIf="!chercheurEmail.principale" class="pi pi-times unchecked-toogle"></i>
                                </td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editChercheurEmail(chercheurEmail)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewChercheurEmail(chercheurEmail)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteChercheurEmail(chercheurEmail)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateChercheurEmail(chercheurEmail)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{chercheurEmails ? chercheurEmails.length == 1 ? 'y a' : 'y a' : 'y a' }} {{chercheurEmails ? chercheurEmails.length : 0 }} {{chercheurEmails ? chercheurEmails.length == 1 ? 'chercheurEmail' : 'chercheurEmails' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-chercheur-email-create-chercheur></app-chercheur-email-create-chercheur>
        <app-chercheur-email-edit-chercheur></app-chercheur-email-edit-chercheur>
        <app-chercheur-email-view-chercheur></app-chercheur-email-view-chercheur>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
