<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateConseilEtComiteScientifique('conseilEtComiteScientifique')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchConseilEtComiteScientifique.tempsEstimePourCetteAnnneMin"
                                                             id="1-1"></p-inputNumber>
                                              <label for="1-1">Temps estime pour cette annne Min</label>
                                       </span>
                                       <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchConseilEtComiteScientifique.tempsEstimePourCetteAnnneMax"
                                                             id="1-2"></p-inputNumber>
                                             <label for="1-2">Temps estime pour cette annne Max</label>
                                       </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="2"
                                           type="text"  [(ngModel)]="searchConseilEtComiteScientifique.intitule">
                                    <label for="2">Intitule</label>
                                </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="payss" [(ngModel)]="searchConseilEtComiteScientifique.paysVo"
                                        id="3"
                                        [filter]="true" [showClear]="true"  placeholder="Pays"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="etablissements" [(ngModel)]="searchConseilEtComiteScientifique.etablissementVo"
                                        id="4"
                                        [filter]="true" [showClear]="true"  placeholder="Etablissement"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchConseilEtComiteScientifique.nombreJoursParAnneeMin"
                                                             id="5-1"></p-inputNumber>
                                              <label for="5-1">Nombre jours par annee Min</label>
                                       </span>
                                       <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchConseilEtComiteScientifique.nombreJoursParAnneeMax"
                                                             id="5-2"></p-inputNumber>
                                             <label for="5-2">Nombre jours par annee Max</label>
                                       </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="chercheurs" [(ngModel)]="searchConseilEtComiteScientifique.chercheurVo"
                                        id="8"
                                        [filter]="true" [showClear]="true"  placeholder="Chercheur"
                                        optionLabel="numeroMatricule">
                                </p-dropdown>
                            </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="campagnes" [(ngModel)]="searchConseilEtComiteScientifique.campagneVo"
                                        id="9"
                                        [filter]="true" [showClear]="true"  placeholder="Campagne"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="searchConseilEtComiteScientifique.etatEtapeCampagneVo"
                                        id="10"
                                        [filter]="true" [showClear]="true"  placeholder="Etat etape campagne"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="conseilEtComiteScientifiques" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['tempsEstimePourCetteAnnne', 'intitule', 'libelle', 'libelle', 'nombreJoursParAnnee', 'numeroMatricule', 'libelle', 'libelle']" [(selection)]="selectedConseilEtComiteScientifique"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Conseil et comite scientifiques</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="tempsEstimePourCetteAnnne">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Temps estime pour cette annne</span>
                                        <p-sortIcon field="tempsEstimePourCetteAnnne"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="intitule">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Intitule</span>
                                        <p-sortIcon field="intitule"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="pays">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Pays</span>
                                        <p-sortIcon field="pays"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="etablissement">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Etablissement</span>
                                        <p-sortIcon field="etablissement"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="nombreJoursParAnnee">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Nombre jours par annee</span>
                                        <p-sortIcon field="nombreJoursParAnnee"></p-sortIcon>
                                    </div>
                                </th>
                                




                                
                                <th pSortableColumn="chercheur">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Chercheur</span>
                                        <p-sortIcon field="chercheur"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="campagne">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Campagne</span>
                                        <p-sortIcon field="campagne"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="etatEtapeCampagne">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Etat etape campagne</span>
                                        <p-sortIcon field="etatEtapeCampagne"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-conseilEtComiteScientifique>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="conseilEtComiteScientifique"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{conseilEtComiteScientifique.tempsEstimePourCetteAnnne}}</td>
                            

                            
                                 <td>{{conseilEtComiteScientifique.intitule}}</td>
                            

                            
                                <td>{{conseilEtComiteScientifique.paysVo?.libelle}}</td>
                            

                            
                                <td>{{conseilEtComiteScientifique.etablissementVo?.libelle}}</td>
                            

                            
                                 <td>{{conseilEtComiteScientifique.nombreJoursParAnnee}}</td>
                            

                            
                                <td>{{conseilEtComiteScientifique.chercheurVo?.numeroMatricule}}</td>
                            

                            
                                <td>{{conseilEtComiteScientifique.campagneVo?.libelle}}</td>
                            

                            
                                <td>{{conseilEtComiteScientifique.etatEtapeCampagneVo?.libelle}}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editConseilEtComiteScientifique(conseilEtComiteScientifique)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewConseilEtComiteScientifique(conseilEtComiteScientifique)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteConseilEtComiteScientifique(conseilEtComiteScientifique)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateConseilEtComiteScientifique(conseilEtComiteScientifique)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{conseilEtComiteScientifiques ? conseilEtComiteScientifiques.length == 1 ? 'y a' : 'y a' : 'y a' }} {{conseilEtComiteScientifiques ? conseilEtComiteScientifiques.length : 0 }} {{conseilEtComiteScientifiques ? conseilEtComiteScientifiques.length == 1 ? 'conseilEtComiteScientifique' : 'conseilEtComiteScientifiques' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-conseil-et-comite-scientifique-create-chercheur></app-conseil-et-comite-scientifique-create-chercheur>
        <app-conseil-et-comite-scientifique-edit-chercheur></app-conseil-et-comite-scientifique-edit-chercheur>
        <app-conseil-et-comite-scientifique-view-chercheur></app-conseil-et-comite-scientifique-view-chercheur>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
