
<p-dialog [(visible)]="viewPaysZoneGeographiqueDialog" [style]="{width: '70vw'}"
        header="Pays zone geographique" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Pays zone geographique">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Pays</label>
                                    <p-dropdown [options]="payss" [(ngModel)]="selectedPaysZoneGeographique.paysVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Pays">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Zone geographique</label>
                                    <p-dropdown [options]="zoneGeographiques" [(ngModel)]="selectedPaysZoneGeographique.zoneGeographiqueVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Zone geographique">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-pays-create-admin></app-pays-create-admin>
            <app-zone-geographique-create-admin></app-zone-geographique-create-admin>



</p-dialog>



