
<p-dialog [(visible)]="viewDistinctionEtablissementPaysDialog" [style]="{width: '70vw'}"
        header="Distinction etablissement pays" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Distinction etablissement pays">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Pays</label>
                                    <p-dropdown [options]="payss" [(ngModel)]="selectedDistinctionEtablissementPays.paysVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Pays">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Etablissement</label>
                                    <p-dropdown [options]="etablissements" [(ngModel)]="selectedDistinctionEtablissementPays.etablissementVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Etablissement">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Distinction</label>
                                    <p-dropdown [options]="distinctions" [(ngModel)]="selectedDistinctionEtablissementPays.distinctionVo"
                                            id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="id"
                                            placeholder="Distinction">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-pays-create-admin></app-pays-create-admin>
            <app-etablissement-create-admin></app-etablissement-create-admin>
            <app-distinction-create-admin></app-distinction-create-admin>



</p-dialog>



