
<p-dialog [(visible)]="viewFormationContinueObjetFormationGeneriqueDialog" [style]="{width: '70vw'}"
        header="Formation continue objet formation generique" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Formation continue objet formation generique">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Objet formation generique</label>
                                    <p-dropdown [options]="objetFormationGeneriques" [(ngModel)]="selectedFormationContinueObjetFormationGenerique.objetFormationGeneriqueVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Objet formation generique">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Formation continue</label>
                                    <p-dropdown [options]="formationContinues" [(ngModel)]="selectedFormationContinueObjetFormationGenerique.formationContinueVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="intitule"
                                            placeholder="Formation continue">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-objet-formation-generique-create-admin></app-objet-formation-generique-create-admin>
            <app-formation-continue-create-admin></app-formation-continue-create-admin>



</p-dialog>



