
<p-dialog [(visible)]="viewEnseignementDialog" [style]="{width: '70vw'}"
        header="Enseignement" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Enseignement">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Intitule</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Intitule"  [(ngModel)]="selectedEnseignement.intitule"
                                           id="1" [(ngModel)]="selectedEnseignement.intitule"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Nombre heure</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="2" [disabled]="true"
                                                   placeholder="Nombre heure"  [(ngModel)]="selectedEnseignement.nombreHeure"
                                            [(ngModel)]="selectedEnseignement.nombreHeure"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Modalite etude</label>
                                    <p-dropdown [options]="modaliteEtudes" [(ngModel)]="selectedEnseignement.modaliteEtudeVo"
                                            id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Modalite etude">
                                    </p-dropdown>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-6">
                                    <div  class="label-inputswitch">
                                        <label for="7">Etabilssement non reconnu</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="7"  [disabled]="true" [(ngModel)]="selectedEnseignement.etabilssementNonReconnu"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="12">Etat etape campagne</label>
                                    <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedEnseignement.etatEtapeCampagneVo"
                                            id="12" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Etat etape campagne">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="13">Enseignement et formation</label>
                                    <p-dropdown [options]="enseignementEtFormations" [(ngModel)]="selectedEnseignement.enseignementEtFormationVo"
                                            id="13" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="id"
                                            placeholder="Enseignement et formation">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>
                    <p-tabPanel header="Type etude enseignements">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedEnseignement.typeEtudeEnseignementsVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Type etude</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.typeEtudeVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Enseignement natures">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedEnseignement.enseignementNaturesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Nature enseignement</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.natureEnseignementVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Niveau etude enseignements">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedEnseignement.niveauEtudeEnseignementsVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Niveau etude</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.niveauEtudeVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Etablissement enseignements">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedEnseignement.etablissementEnseignementsVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Etablissement</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.etablissementVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Enseignement zone geographiques">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedEnseignement.enseignementZoneGeographiquesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Zone geographique</th>
                                                            <th>Pays</th>
                                                            <th>Libelle</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.zoneGeographiqueVo?.libelle}}</td>
                                                        <td>{{p.paysVo?.libelle}}</td>
                                                            <td>{{p.libelle}}</td>


                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Enseignement enjeux irds">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedEnseignement.enseignementEnjeuxIrdsVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Enjeux ird</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.enjeuxIrdVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>

                    <p-tabPanel header="Enseignement discipline scientifiques">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedEnseignement.enseignementDisciplineScientifiquesVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Discipline scientifique</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.disciplineScientifiqueVo?.libelleEng}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-modalite-etude-create-admin></app-modalite-etude-create-admin>
            <app-etat-etape-campagne-create-admin></app-etat-etape-campagne-create-admin>
            <app-enseignement-et-formation-create-admin></app-enseignement-et-formation-create-admin>

                    <app-type-etude-create-admin></app-type-etude-create-admin>
                    <app-nature-enseignement-create-admin></app-nature-enseignement-create-admin>
                    <app-niveau-etude-create-admin></app-niveau-etude-create-admin>
                    <app-etablissement-create-admin></app-etablissement-create-admin>
                    <app-zone-geographique-create-admin></app-zone-geographique-create-admin>
                    <app-pays-create-admin></app-pays-create-admin>
                    <app-enjeux-ird-create-admin></app-enjeux-ird-create-admin>
                    <app-discipline-scientifique-create-admin></app-discipline-scientifique-create-admin>


</p-dialog>



