        <p-dialog [(visible)]="createResponsabilitePedagogiqueEtablissementDialog" [style]="{width: '70vw'}"
                header="Responsabilite pedagogique etablissement" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Responsabilite pedagogique etablissement">
                        <div class="p-grid">

                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="1">Etablissement</label>
                                            <p-dropdown [options]="etablissements" [(ngModel)]="selectedResponsabilitePedagogiqueEtablissement.etablissementVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etablissement"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetablissement('etablissement')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="2">Responsabilite pedagogique</label>
                                            <p-dropdown [options]="responsabilitePedagogiques" [(ngModel)]="selectedResponsabilitePedagogiqueEtablissement.responsabilitePedagogiqueVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Responsabilite pedagogique"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateresponsabilitePedagogique('responsabilitePedagogique')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="3">Pays</label>
                                            <p-dropdown [options]="payss" [(ngModel)]="selectedResponsabilitePedagogiqueEtablissement.paysVo"
                                                    id="3" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Pays"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-etablissement-create-chercheur></app-etablissement-create-chercheur>
                    <app-responsabilite-pedagogique-create-chercheur></app-responsabilite-pedagogique-create-chercheur>
                    <app-pays-create-chercheur></app-pays-create-chercheur>


    </p-dialog>
