
<p-dialog [(visible)]="viewDeveloppementDeSavoirEtInnovationScientifiqueEnjeuxIrdDialog" [style]="{width: '70vw'}"
        header="Developpement de savoir et innovation scientifique enjeux ird" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Developpement de savoir et innovation scientifique enjeux ird">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Enjeux ird</label>
                                    <p-dropdown [options]="enjeuxIrds" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifiqueEnjeuxIrd.enjeuxIrdVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Enjeux ird">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Developpement de savoir et innovation scientifique</label>
                                    <p-dropdown [options]="developpementDeSavoirEtInnovationScientifiques" [(ngModel)]="selectedDeveloppementDeSavoirEtInnovationScientifiqueEnjeuxIrd.developpementDeSavoirEtInnovationScientifiqueVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="id"
                                            placeholder="Developpement de savoir et innovation scientifique">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-enjeux-ird-create-chercheur></app-enjeux-ird-create-chercheur>
            <app-developpement-de-savoir-et-innovation-scientifique-create-chercheur></app-developpement-de-savoir-et-innovation-scientifique-create-chercheur>



</p-dialog>



