
        <p-dialog [(visible)]="editRencontreGrandPubliqueJeunePubliqueDialog" [style]="{width: '70vw'}"
                header="Rencontre grand publique jeune publique" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Rencontre grand publique jeune publique">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="1">Format rencontre</label>
                                            <p-dropdown [options]="formatRencontres" [(ngModel)]="selectedRencontreGrandPubliqueJeunePublique.formatRencontreVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Format rencontre">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateformatRencontre('formatRencontre')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">Intitule sujet</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Intitule sujet"
                                                   id="3" [(ngModel)]="selectedRencontreGrandPubliqueJeunePublique.intituleSujet"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="6">Nombre personne estime</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="6"
                                                           placeholder="Nombre personne estime"  [(ngModel)]="selectedRencontreGrandPubliqueJeunePublique.nombrePersonneEstime"
                                                    [(ngModel)]="selectedRencontreGrandPubliqueJeunePublique.nombrePersonneEstime"></p-inputNumber>
                                        </div>

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="11">Contexte</label>
                                            <p-dropdown [options]="contextes" [(ngModel)]="selectedRencontreGrandPubliqueJeunePublique.contexteVo"
                                                    id="11" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Contexte">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatecontexte('contexte')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="12">Lien instrument ird</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="12"  [(ngModel)]="selectedRencontreGrandPubliqueJeunePublique.lienInstrumentIrd"></p-inputSwitch>
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="15">Pays</label>
                                            <p-dropdown [options]="payss" [(ngModel)]="selectedRencontreGrandPubliqueJeunePublique.paysVo"
                                                    id="15" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Pays">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="16">Lien web</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Lien web"
                                                   id="16" [(ngModel)]="selectedRencontreGrandPubliqueJeunePublique.lienWeb"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="17">Remarque</label>
                                            <textarea id="17" pInputTextarea rows="5" cols="30"
                                                      placeholder="Remarque"  [(ngModel)]="selectedRencontreGrandPubliqueJeunePublique.remarque"
                                            ></textarea>
                                        </div>

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="18">Culture scientifique</label>
                                            <p-dropdown [options]="cultureScientifiques" [(ngModel)]="selectedRencontreGrandPubliqueJeunePublique.cultureScientifiqueVo"
                                                    id="18" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Culture scientifique">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatecultureScientifique('cultureScientifique')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-2">
                                            <label for="19">Etat etape campagne</label>
                                            <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedRencontreGrandPubliqueJeunePublique.etatEtapeCampagneVo"
                                                    id="19" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat etape campagne">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetatEtapeCampagne('etatEtapeCampagne')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="Type publique rencontre grand publique jeune publiques">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Type publique</label>
                                                        <p-dropdown [options]="typePubliques" [(ngModel)]="selectedTypePubliqueRencontreGrandPubliqueJeunePubliques.typePubliqueVo"
                                                                id="1"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Type publique"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatetypePublique('typePublique')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addTypePubliqueRencontreGrandPubliqueJeunePubliques()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedRencontreGrandPubliqueJeunePublique.typePubliqueRencontreGrandPubliqueJeunePubliquesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Type publique</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.typePubliqueVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteTypePubliqueRencontreGrandPubliqueJeunePubliques(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Rencontre grand publique jeune publique enjeux irds">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Enjeux ird</label>
                                                        <p-dropdown [options]="enjeuxIrds" [(ngModel)]="selectedRencontreGrandPubliqueJeunePubliqueEnjeuxIrds.enjeuxIrdVo"
                                                                id="1"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Enjeux ird"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateenjeuxIrd('enjeuxIrd')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addRencontreGrandPubliqueJeunePubliqueEnjeuxIrds()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedRencontreGrandPubliqueJeunePublique.rencontreGrandPubliqueJeunePubliqueEnjeuxIrdsVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Enjeux ird</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.enjeuxIrdVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteRencontreGrandPubliqueJeunePubliqueEnjeuxIrds(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Rencontre grand publique jeune publique discipline scientifiques">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Discipline scientifique</label>
                                                        <p-dropdown [options]="disciplineScientifiques" [(ngModel)]="selectedRencontreGrandPubliqueJeunePubliqueDisciplineScientifiques.disciplineScientifiqueVo"
                                                                id="1"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelleEng"
                                                                placeholder="Discipline scientifique"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatedisciplineScientifique('disciplineScientifique')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addRencontreGrandPubliqueJeunePubliqueDisciplineScientifiques()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedRencontreGrandPubliqueJeunePublique.rencontreGrandPubliqueJeunePubliqueDisciplineScientifiquesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Discipline scientifique</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.disciplineScientifiqueVo?.libelleEng}}</td>
                                                        <td>
                                                            <button (click)="deleteRencontreGrandPubliqueJeunePubliqueDisciplineScientifiques(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Rencontre grand publique jeune publique periodes">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-field">
                                                    <label for="1">Date rencontre</label>
                                                    <p-calendar id="1"
                                                                placeholder="Date rencontre"
                                                            [(ngModel)]="selectedRencontreGrandPubliqueJeunePubliquePeriodes.dateRencontre"
                                                            dateFormat="{{dateFormat}}" [showIcon]="true"></p-calendar>
                                                </div>
                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addRencontreGrandPubliqueJeunePubliquePeriodes()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedRencontreGrandPubliqueJeunePublique.rencontreGrandPubliqueJeunePubliquePeriodesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Date rencontre</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                    <td>{{p.dateRencontre | date: dateFormatColumn}}</td>

                                                        <td>
                                                            <button (click)="deleteRencontreGrandPubliqueJeunePubliquePeriodes(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Structure oganisatrices">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Etablissement</label>
                                                        <p-dropdown [options]="etablissements" [(ngModel)]="selectedStructureOganisatrices.etablissementVo"
                                                                id="1"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Etablissement"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateetablissement('etablissement')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addStructureOganisatrices()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedRencontreGrandPubliqueJeunePublique.structureOganisatricesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Etablissement</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.etablissementVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteStructureOganisatrices(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Pays rencontre grand publique jeune publiques">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Pays</label>
                                                        <p-dropdown [options]="payss" [(ngModel)]="selectedPaysRencontreGrandPubliqueJeunePubliques.paysVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Pays"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addPaysRencontreGrandPubliqueJeunePubliques()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedRencontreGrandPubliqueJeunePublique.paysRencontreGrandPubliqueJeunePubliquesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Pays</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.paysVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deletePaysRencontreGrandPubliqueJeunePubliques(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Pays organisateur rencontre grand publique jeune publiques">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Pays</label>
                                                        <p-dropdown [options]="payss" [(ngModel)]="selectedPaysOrganisateurRencontreGrandPubliqueJeunePubliques.paysVo"
                                                                id="1"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Pays"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addPaysOrganisateurRencontreGrandPubliqueJeunePubliques()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedRencontreGrandPubliqueJeunePublique.paysOrganisateurRencontreGrandPubliqueJeunePubliquesVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Pays</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.paysVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deletePaysOrganisateurRencontreGrandPubliqueJeunePubliques(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Rencontre grand publique jeune publique instrument irds">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Instrument ird</label>
                                                        <p-dropdown [options]="instrumentIrds" [(ngModel)]="selectedRencontreGrandPubliqueJeunePubliqueInstrumentIrds.instrumentIrdVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Instrument ird"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateinstrumentIrd('instrumentIrd')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addRencontreGrandPubliqueJeunePubliqueInstrumentIrds()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedRencontreGrandPubliqueJeunePublique.rencontreGrandPubliqueJeunePubliqueInstrumentIrdsVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Instrument ird</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.instrumentIrdVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteRencontreGrandPubliqueJeunePubliqueInstrumentIrds(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                            <p-tabPanel header="Rencontre grand publique jeune publique type instrument irds">
                                <div class="p-grid">
                                    <div class="p-col">
                                                <div class="p-grid">
                                                    <div class="p-col-11 p-field">
                                                        <label>Type instrument ird</label>
                                                        <p-dropdown [options]="typeInstrumentIrds" [(ngModel)]="selectedRencontreGrandPubliqueJeunePubliqueTypeInstrumentIrds.typeInstrumentIrdVo"
                                                                id="0"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Type instrument ird"
                                                        >
                                                        </p-dropdown>

                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatetypeInstrumentIrd('typeInstrumentIrd')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                </div>

                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                label="OK" (click)="addRencontreGrandPubliqueJeunePubliqueTypeInstrumentIrds()"
                                        ></button>
                                    </div>
                                    <div class="p-col">
                                        <div class="card">
                                            <p-table [value]="selectedRencontreGrandPubliqueJeunePublique.rencontreGrandPubliqueJeunePubliqueTypeInstrumentIrdsVo" [scrollable]="true"
                                                    scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                                    <th>Type instrument ird</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                                <td>{{p.typeInstrumentIrdVo?.libelle}}</td>
                                                        <td>
                                                            <button (click)="deleteRencontreGrandPubliqueJeunePubliqueTypeInstrumentIrds(p)" pButton type="button"
                                                                                                                 icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-format-rencontre-create-chercheur></app-format-rencontre-create-chercheur>
                    <app-contexte-create-chercheur></app-contexte-create-chercheur>
                    <app-pays-create-chercheur></app-pays-create-chercheur>
                    <app-culture-scientifique-create-chercheur></app-culture-scientifique-create-chercheur>
                    <app-etat-etape-campagne-create-chercheur></app-etat-etape-campagne-create-chercheur>

                            <app-type-publique-create-chercheur></app-type-publique-create-chercheur>
                            <app-enjeux-ird-create-chercheur></app-enjeux-ird-create-chercheur>
                            <app-discipline-scientifique-create-chercheur></app-discipline-scientifique-create-chercheur>
                            <app-etablissement-create-chercheur></app-etablissement-create-chercheur>
                            <app-pays-create-chercheur></app-pays-create-chercheur>
                            <app-pays-create-chercheur></app-pays-create-chercheur>
                            <app-instrument-ird-create-chercheur></app-instrument-ird-create-chercheur>
                            <app-type-instrument-ird-create-chercheur></app-type-instrument-ird-create-chercheur>


    </p-dialog>



