
<p-dialog [(visible)]="viewReclamationDialog" [style]="{width: '70vw'}"
        header="Reclamation" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Reclamation">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="1">Objet</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Objet"  [(ngModel)]="selectedReclamation.objet"
                                           id="1" [(ngModel)]="selectedReclamation.objet"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="2">Message</label>
                                    <textarea id="2" pInputTextarea rows="5" cols="30"
                                              placeholder="Message"  [(ngModel)]="selectedReclamation.message"
                                    ></textarea>
                                </div>

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="3">Etat reclamation</label>
                                    <p-dropdown [options]="etatReclamations" [(ngModel)]="selectedReclamation.etatReclamationVo"
                                            id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Etat reclamation">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-4">
                                    <label for="4">Type reclamation</label>
                                    <p-dropdown [options]="typeReclamations" [(ngModel)]="selectedReclamation.typeReclamationVo"
                                            id="4" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Type reclamation">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-4">
                                    <label for="5">Chercheur</label>
                                    <p-dropdown [options]="chercheurs" [(ngModel)]="selectedReclamation.chercheurVo"
                                            id="5" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="numeroMatricule"
                                            placeholder="Chercheur">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-4">
                                    <label for="6">Date reclamation</label>
                                    <p-calendar id="6" [disabled]="true"
                                                placeholder="Date reclamation"  [(ngModel)]="selectedReclamation.dateReclamation"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="7">Date traitement</label>
                                    <p-calendar id="7" [disabled]="true"
                                                placeholder="Date traitement"  [(ngModel)]="selectedReclamation.dateTraitement"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-etat-reclamation-create-admin></app-etat-reclamation-create-admin>
            <app-type-reclamation-create-admin></app-type-reclamation-create-admin>
            <app-chercheur-create-admin></app-chercheur-create-admin>



</p-dialog>



