        <p-dialog [(visible)]="createContratEtConventionIrdDialog" [style]="{width: '70vw'}"
                header="Contrat et convention ird" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Contrat et convention ird">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="1">Numero</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Numero"
                                                   id="1" [(ngModel)]="selectedContratEtConventionIrd.numero"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="2">Status contrat et convention</label>
                                            <p-dropdown [options]="statusContratEtConventions" [(ngModel)]="selectedContratEtConventionIrd.statusContratEtConventionVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Status contrat et convention"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatestatusContratEtConvention('statusContratEtConvention')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="3">Date contrat</label>
                                            <p-calendar id="3"
                                                        placeholder="Date contrat"  [(ngModel)]="selectedContratEtConventionIrd.dateContrat"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="4">Intitule<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Intitule"
                                                   id="4" [(ngModel)]="selectedContratEtConventionIrd.intitule"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validContratEtConventionIrdIntitule}"  />
                                            <small class='p-error' *ngIf='!validContratEtConventionIrdIntitule'>Intitule est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="5">Description</label>
                                            <textarea id="5" pInputTextarea rows="5" cols="30"
                                                      placeholder="Description"  [(ngModel)]="selectedContratEtConventionIrd.description"
                                             ></textarea>
                                            
                                        </div>

                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="6">Savoir et innovation</label>
                                            <p-dropdown [options]="savoirEtInnovations" [(ngModel)]="selectedContratEtConventionIrd.savoirEtInnovationVo"
                                                    id="6" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Savoir et innovation"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatesavoirEtInnovation('savoirEtInnovation')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="7">Etat etape campagne</label>
                                            <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedContratEtConventionIrd.etatEtapeCampagneVo"
                                                    id="7" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat etape campagne"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetatEtapeCampagne('etatEtapeCampagne')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-status-contrat-et-convention-create-admin></app-status-contrat-et-convention-create-admin>
                    <app-savoir-et-innovation-create-admin></app-savoir-et-innovation-create-admin>
                    <app-etat-etape-campagne-create-admin></app-etat-etape-campagne-create-admin>


    </p-dialog>
