        <p-dialog [(visible)]="createResponsabilitePedagogiqueDialog" [style]="{width: '70vw'}"
                header="Responsabilite pedagogique" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Responsabilite pedagogique">
                        <div class="p-grid">

                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="1">Niveau responsabilite pedagogique<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="niveauResponsabilitePedagogiques" [(ngModel)]="selectedResponsabilitePedagogique.niveauResponsabilitePedagogiqueVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Niveau responsabilite pedagogique" [ngClass]="{'ng-invalid ng-dirty' : !validResponsabilitePedagogiqueNiveauResponsabilitePedagogique}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validResponsabilitePedagogiqueNiveauResponsabilitePedagogique'>NiveauResponsabilitePedagogique est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateniveauResponsabilitePedagogique('niveauResponsabilitePedagogique')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="2">Status cursus<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="statusCursuss" [(ngModel)]="selectedResponsabilitePedagogique.statusCursusVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Status cursus" [ngClass]="{'ng-invalid ng-dirty' : !validResponsabilitePedagogiqueStatusCursus}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validResponsabilitePedagogiqueStatusCursus'>StatusCursus est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatestatusCursus('statusCursus')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="3">Intitule cursus<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Intitule cursus"
                                                   id="3" [(ngModel)]="selectedResponsabilitePedagogique.intituleCursus"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validResponsabilitePedagogiqueIntituleCursus}"  />
                                            <small class='p-error' *ngIf='!validResponsabilitePedagogiqueIntituleCursus'>IntituleCursus est obligatoire.</small>
                                        </div>



                                    <div class="p-field p-col-12  p-md-4">
                                        <label>Enjeux ird</label>
                                        <p-multiSelect [options]="responsabilitePedagogiqueEnjeuxIrdsVo" [(ngModel)]="selectedResponsabilitePedagogique.responsabilitePedagogiqueEnjeuxIrdsVo" defaultLabel="Select un enjeuxIrd" optionLabel="enjeuxIrdVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                        <div class="p-field align-inputswitch p-col-12  p-md-4">
                                            <div  class="label-inputswitch">
                                                <label for="5">Service renforcement capacite</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="5"  [(ngModel)]="selectedResponsabilitePedagogique.serviceRenforcementCapacite"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-4">
                                            <div  class="label-inputswitch">
                                                <label for="6">Cursus construit avec etablissements</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="6"  [(ngModel)]="selectedResponsabilitePedagogique.cursusConstruitAvecEtablissements"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                    <div class="p-field p-col-12  p-md-4">
                                        <label>Pays</label>
                                        <p-multiSelect [options]="responsabilitePedagogiquePayssVo" [(ngModel)]="selectedResponsabilitePedagogique.responsabilitePedagogiquePayssVo" defaultLabel="Select un pays" optionLabel="paysVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="9">Etat etape campagne</label>
                                            <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedResponsabilitePedagogique.etatEtapeCampagneVo"
                                                    id="9" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat etape campagne"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetatEtapeCampagne('etatEtapeCampagne')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="10">Enseignement et formation</label>
                                            <p-dropdown [options]="enseignementEtFormations" [(ngModel)]="selectedResponsabilitePedagogique.enseignementEtFormationVo"
                                                    id="10" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Enseignement et formation"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateenseignementEtFormation('enseignementEtFormation')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Responsabilite pedagogique etablissements">
                                <div class="p-grid">
                                      <div class="p-col">
                                                    <div class="p-field p-col-11 p-md-5">
                                                        <label>Etablissement</label>
                                                        <p-dropdown [options]="etablissements" [(ngModel)]="selectedResponsabilitePedagogiqueEtablissements.etablissementVo"
                                                                id="1"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Etablissement"  
                                                        >
                                                        </p-dropdown>
                                                        
                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreateetablissement('etablissement')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                                    <div class="p-field p-col-11 p-md-5">
                                                        <label>Pays</label>
                                                        <p-dropdown [options]="payss" [(ngModel)]="selectedResponsabilitePedagogiqueEtablissements.paysVo"
                                                                id="3"  [filter]="true"
                                                                filterMatchMode="contains" [showClear]="true"
                                                                optionLabel="libelle"
                                                                placeholder="Pays"  
                                                        >
                                                        </p-dropdown>
                                                        
                                                    </div>
                                                    <div class="p-col-1">
                                                        <label></label>
                                                        <button pButton pRipple type="button"
                                                                icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                                class="p-button-success one-colonne-btn-success-align"></button>
                                                    </div>

                                          <div class="p-field p-col-12 p-md-1">
                                              <button pButton pRipple type="button" icon="pi pi-plus" class="p-mt-4"
                                                    label="OK" (click)="addResponsabilitePedagogiqueEtablissements()">
                                              </button>
                                          </div>
                                        </div>
                                </div>
                                  <div class="p-col">
                                    <div class="card">
                                        <p-table [value]="selectedResponsabilitePedagogique.responsabilitePedagogiqueEtablissementsVo" [scrollable]="true"
                                                scrollHeight="200px">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                                <th>Etablissement</th>
                                                                <th>Pays</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-p>
                                                <tr>
                                                            <td>{{p.etablissementVo?.libelle}}</td>
                                                            <td>{{p.paysVo?.libelle}}</td>
                                                    <td>
                                                        <button (click)="deleteResponsabilitePedagogiqueEtablissements(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger">
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>

                                 </div>
                            </p-tabPanel>


                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-niveau-responsabilite-pedagogique-create-admin></app-niveau-responsabilite-pedagogique-create-admin>
                    <app-status-cursus-create-admin></app-status-cursus-create-admin>
                    <app-etat-etape-campagne-create-admin></app-etat-etape-campagne-create-admin>
                    <app-enseignement-et-formation-create-admin></app-enseignement-et-formation-create-admin>

                            <app-enjeux-ird-create-admin></app-enjeux-ird-create-admin>
                            <app-etablissement-create-admin></app-etablissement-create-admin>
                            <app-pays-create-admin></app-pays-create-admin>
                            <app-pays-create-admin></app-pays-create-admin>

    </p-dialog>
