        <p-dialog [(visible)]="createEncadrementDoctorantDialog" [style]="{width: '70vw'}"
                header="Encadrement doctorant" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Encadrement doctorant">
                        <div class="p-grid">

                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="1">Responsabilite encadrement doctorant</label>
                                            <p-dropdown [options]="responsabiliteEncadrementDoctorants" [(ngModel)]="selectedEncadrementDoctorant.responsabiliteEncadrementDoctorantVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Responsabilite encadrement doctorant"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateresponsabiliteEncadrementDoctorant('responsabiliteEncadrementDoctorant')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="2">Codirection internationale</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="2"  [(ngModel)]="selectedEncadrementDoctorant.codirectionInternationale"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="3">Cursus</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="3"  [(ngModel)]="selectedEncadrementDoctorant.cursus"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Sujet these</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Sujet these"
                                                   id="4" [(ngModel)]="selectedEncadrementDoctorant.sujetThese"
                                                     />
                                            
                                        </div>



                                    <div class="p-field p-col-12  p-md-3">
                                        <label>Enjeux ird</label>
                                        <p-multiSelect [options]="enjeuxIrdEncadrementDoctorantsVo" [(ngModel)]="selectedEncadrementDoctorant.enjeuxIrdEncadrementDoctorantsVo" defaultLabel="Select un enjeuxIrd" optionLabel="enjeuxIrdVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                    <div class="p-field p-col-12  p-md-3">
                                        <label>Discipline scientifique</label>
                                        <p-multiSelect [options]="disciplineScientifiqueEncadrementDoctorantsVo" [(ngModel)]="selectedEncadrementDoctorant.disciplineScientifiqueEncadrementDoctorantsVo" defaultLabel="Select un disciplineScientifique" optionLabel="disciplineScientifiqueVo.libelleEng"  display="chip"></p-multiSelect>
                                    </div>
                                    <div class="p-field p-col-12  p-md-3">
                                        <label>Communaute savoir</label>
                                        <p-multiSelect [options]="communauteSavoirEncadrementDoctorantsVo" [(ngModel)]="selectedEncadrementDoctorant.communauteSavoirEncadrementDoctorantsVo" defaultLabel="Select un communauteSavoir" optionLabel="communauteSavoirVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="8">Date debut these</label>
                                            <p-calendar id="8"
                                                        placeholder="Date debut these"  [(ngModel)]="selectedEncadrementDoctorant.dateDebutThese"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="9">Date prevu soutenance these</label>
                                            <p-calendar id="9"
                                                        placeholder="Date prevu soutenance these"  [(ngModel)]="selectedEncadrementDoctorant.datePrevuSoutenanceThese"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="10">Intitule ecole doctorale</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Intitule ecole doctorale"
                                                   id="10" [(ngModel)]="selectedEncadrementDoctorant.intituleEcoleDoctorale"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="11">Financement doctorant</label>
                                            <p-dropdown [options]="financementDoctorants" [(ngModel)]="selectedEncadrementDoctorant.financementDoctorantVo"
                                                    id="11" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Financement doctorant"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatefinancementDoctorant('financementDoctorant')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="12">Etablissement</label>
                                            <p-dropdown [options]="etablissements" [(ngModel)]="selectedEncadrementDoctorant.etablissementVo"
                                                    id="12" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etablissement"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetablissement('etablissement')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="13">Pays</label>
                                            <p-dropdown [options]="payss" [(ngModel)]="selectedEncadrementDoctorant.paysVo"
                                                    id="13" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Pays"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="14">Doctorant</label>
                                            <p-dropdown [options]="doctorants" [(ngModel)]="selectedEncadrementDoctorant.doctorantVo"
                                                    id="14" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Doctorant"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatedoctorant('doctorant')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="15">Encadrement</label>
                                            <p-dropdown [options]="encadrements" [(ngModel)]="selectedEncadrementDoctorant.encadrementVo"
                                                    id="15" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Encadrement"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateencadrement('encadrement')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="16">Etat etape campagne</label>
                                            <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedEncadrementDoctorant.etatEtapeCampagneVo"
                                                    id="16" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Etat etape campagne"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateetatEtapeCampagne('etatEtapeCampagne')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-responsabilite-encadrement-doctorant-create-chercheur></app-responsabilite-encadrement-doctorant-create-chercheur>
                    <app-financement-doctorant-create-chercheur></app-financement-doctorant-create-chercheur>
                    <app-etablissement-create-chercheur></app-etablissement-create-chercheur>
                    <app-pays-create-chercheur></app-pays-create-chercheur>
                    <app-doctorant-create-chercheur></app-doctorant-create-chercheur>
                    <app-encadrement-create-chercheur></app-encadrement-create-chercheur>
                    <app-etat-etape-campagne-create-chercheur></app-etat-etape-campagne-create-chercheur>

                            <app-enjeux-ird-create-chercheur></app-enjeux-ird-create-chercheur>
                            <app-discipline-scientifique-create-chercheur></app-discipline-scientifique-create-chercheur>
                            <app-communaute-savoir-create-chercheur></app-communaute-savoir-create-chercheur>

    </p-dialog>
