
<p-dialog [(visible)]="viewEnseignementNatureDialog" [style]="{width: '70vw'}"
        header="Enseignement nature" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Enseignement nature">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Nature enseignement</label>
                                    <p-dropdown [options]="natureEnseignements" [(ngModel)]="selectedEnseignementNature.natureEnseignementVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Nature enseignement">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Enseignement</label>
                                    <p-dropdown [options]="enseignements" [(ngModel)]="selectedEnseignementNature.enseignementVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="id"
                                            placeholder="Enseignement">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-nature-enseignement-create-admin></app-nature-enseignement-create-admin>
            <app-enseignement-create-admin></app-enseignement-create-admin>



</p-dialog>



