        <p-dialog [(visible)]="createOutilPedagogiquePubliqueCibleDialog" [style]="{width: '70vw'}"
                header="Outil pedagogique publique cible" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Outil pedagogique publique cible">
                        <div class="p-grid">

                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="1">Publique cible</label>
                                            <p-dropdown [options]="publiqueCibles" [(ngModel)]="selectedOutilPedagogiquePubliqueCible.publiqueCibleVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Publique cible"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatepubliqueCible('publiqueCible')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="2">Outil pedagogique</label>
                                            <p-dropdown [options]="outilPedagogiques" [(ngModel)]="selectedOutilPedagogiquePubliqueCible.outilPedagogiqueVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Outil pedagogique"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateoutilPedagogique('outilPedagogique')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-publique-cible-create-chercheur></app-publique-cible-create-chercheur>
                    <app-outil-pedagogique-create-chercheur></app-outil-pedagogique-create-chercheur>


    </p-dialog>
