
<p-dialog [(visible)]="viewVieInstitutionnelleDialog" [style]="{width: '70vw'}"
        header="Vie institutionnelle" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Vie institutionnelle">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Temps estime</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="1" [disabled]="true"
                                                   placeholder="Temps estime"  [(ngModel)]="selectedVieInstitutionnelle.tempsEstime"
                                            [(ngModel)]="selectedVieInstitutionnelle.tempsEstime"></p-inputNumber>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="4">Etat etape campagne</label>
                                    <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedVieInstitutionnelle.etatEtapeCampagneVo"
                                            id="4" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Etat etape campagne">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="5">Annee</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="5" [disabled]="true"
                                                   placeholder="Annee"  [(ngModel)]="selectedVieInstitutionnelle.annee"
                                            [(ngModel)]="selectedVieInstitutionnelle.annee"></p-inputNumber>
                                </div>

                </div>
            </p-tabPanel>
                    <p-tabPanel header="Vie institutionnelle details">
                        <div class="p-grid">

                            <div class="p-col">
                                <div class="card">
                                    <p-table [value]="selectedVieInstitutionnelle.vieInstitutionnelleDetailsVo" [scrollable]="true"
                                            scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                            <th>Type instance</th>
                                                            <th>Coorele structure ird</th>
                                                            <th>Structure ird</th>
                                                            <th>Coorele instrument ird</th>
                                                            <th>Libelle</th>
                                                            <th>Pays</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-p>
                                            <tr>
                                                        <td>{{p.typeInstanceVo?.libelle}}</td>
                                                            <td><i *ngIf="p.cooreleStructureIrd" class="pi pi-check checked-toogle"></i>
                                                                <i *ngIf="!p.cooreleStructureIrd" class="pi pi-times unchecked-toogle"></i>
                                                            </td>

                                                        <td>{{p.structureIrdVo?.libelle}}</td>
                                                            <td><i *ngIf="p.cooreleInstrumentIrd" class="pi pi-check checked-toogle"></i>
                                                                <i *ngIf="!p.cooreleInstrumentIrd" class="pi pi-times unchecked-toogle"></i>
                                                            </td>

                                                            <td>{{p.libelle}}</td>

                                                        <td>{{p.paysVo?.libelle}}</td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-campagne-create-chercheur></app-campagne-create-chercheur>
            <app-chercheur-create-chercheur></app-chercheur-create-chercheur>
            <app-etat-etape-campagne-create-chercheur></app-etat-etape-campagne-create-chercheur>

                    <app-type-instance-create-chercheur></app-type-instance-create-chercheur>
                    <app-structure-ird-create-chercheur></app-structure-ird-create-chercheur>
                    <app-pays-create-chercheur></app-pays-create-chercheur>


</p-dialog>



